    <!--Footer--> 
<div>
    <div class="container-fluid">
        <footer class="footer-menu row white_background"> 
            <div class="footer-social col-md-12 col-lg-3"> 
                <img class="logo-footer" src="{{ const.BASE_URL }}assets/img/logob-helo.svg" alt=""> 
                <P>MOVING EXPERIENCES<sup>TM</sup></P> 
                <div class="social-media">  
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-linkedin.svg" alt=""></a>
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-instagram.svg" alt=""></a>
                </div> 
                <p><strong>justin@helo.tv</strong></p>          
            </div>
            <div class="footer-contact col-md-12 col-lg-6"> 
                <div class="row"> 
                    <h3 class="title-footer">OFFICES</h3> 
                    <div class="col p-0 contac-section1">                 
                        <h6>WEST COAST US. MILKTOAST</h6> 
                        <p>Bryan Fahry</p>                 
                        <p>bryan@milktoast.tv</p> 
                        <h6>MIDWEST US. SAMUEL GUTHREY</h6> 
                        <p>Gay Guthrey</p> 
                        <p>gay@samuelguthrey.com</p>
                        <hr>
                        <p>Rowley Samuel</p>
                        <p>rowley@samuelguthrey.com</p> 
                    </div> 
                    <div class="col p-0 contac-section2">                 
                        <h6>EAST COAST US. MILKTOAST</h6> 
                        <p>Philip Fox Mills</p>
                        <p>philip@milktoast.tv</p>
                        <hr>
                        <p>Jake Strom</p>
                        <p>jake@milktoast.tv</p>                        
                        <h6>UK / EUROPE. LEMONADE</h6> 
                        <p>Corin West</p> 
                        <p>corin@lemonadereps.com</p> 
                    </div> 
                </div> 
            </div> 
            <div class="footer-navmenu col-lg-3"> 
                <h3 class="title-footer">MENU</h3> 
                <div class="menu-footers">             
                    <div class="subrayado">               
                        <li><a href="{{ const.BASE_URL }}approach">APPROACH</a></li> 
                        <li><a href="{{ const.BASE_URL }}sustainability">SUSTAINABILITY</a></li> 
                        <li><a href="{{ const.BASE_URL }}works">WORK</a></li> 
                        <li><a href="{{ const.BASE_URL }}news">NEWS</a></li> 
                        <li><a href="{{ const.BASE_URL }}contact">CONTACT</a></li> 
                    </div>            
                </div>         
            </div> 
        </footer>
    </div>
</div>