    <!--Footer--> 

<div class="callout">
    <div class="container-fluid py-6">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 col-lg-3 position-relative order-1">
                <img class="mb-2" src="{{ const.BASE_URL }}assets/img/logob-helo.svg" alt=""> 
                <span>MOVING EXPERIENCES<sup>TM</sup></span> 
                <ul class="social mt-5 mb-2 px-0">
                    <li>
                        <a href="https://www.linkedin.com/company/helo/" target="_blank">
                            <img src="{{ const.BASE_URL }}assets/img/footer/s-linkedin.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/flyhelo/" target="_blank">
                            <img src="{{ const.BASE_URL }}assets/img/footer/s-instagram.svg" alt="">
                        </a>
                    </li>
                </ul>
                <a href="mailto:justin@helo.tv">justin@helo.tv</a>
            </div>
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 order-3 order-lg-2">
                <div class="row w-100 m-0">
                    <div class="col-12 px-0">
                        <span class="block_ctrl fw_700 h4 pb-4">REPRESENTATION</span>
                    </div>
                    <div class="col-12 col-sm-6 px-0">
                        <div class="row w-100 m-0 justify-content-center">
                            <div class="col-auto footer_sizes text-center text-sm-start">
                                <span class="d-block w-100  fw_700">WEST COAST US<br>MILKTOAST</span>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Bryan Fahry</span>
                                </div>
                                <div class="d-block w-100">
                                    <a href="mailto:bryan@milktoast.tv" class="block_ctrl mb-4">bryan@milktoast.tv</a>
                                </div>
                                <span class="d-block w-100  fw_700">MIDWEST US<br>SAMUEL GUTHREY</span>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Gay Guthrey</span>
                                </div>
                                <div class="d-block w-100 ">
                                    <a href="mailto:gay@samuelguthrey.com" class="block_ctrl">
                                        gay@samuelguthrey.com
                                        <hr>
                                    </a>
                                </div>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Rowley Samuel</span>
                                </div>
                                <div class="d-block w-100 ">
                                    <a href="mailto:rowley@samuelguthrey.com" class="block_ctrl">rowley@samuelguthrey.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 pt-4 pt-sm-0 px-0">
                        <div class="row w-100 m-0 justify-content-center">
                            <div class="col-auto footer_sizes text-center text-sm-start">
                                <span class="d-block w-100  fw_700">EAST COAST US<br>MILKTOAST</span>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Philip Fox Mills</span>
                                </div>
                                <div class="d-block w-100">
                                    <a href="mailto:philip@milktoast.tv" class="block_ctrl">
                                        philip@milktoast.tv
                                        <hr>
                                    </a>
                                </div>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Jake Strom</span>
                                </div>
                                <div class="d-block w-100 ">
                                    <a href="mailto:jake@milktoast.tv" class="mb-4 block_ctrl">jake@milktoast.tv</a>
                                </div>
                                <span class="d-block w-100  fw_700">UK / EUROPE<br>LEMONADE</span>
                                <div class="d-block w-100 ">
                                    <span class="block_ctrl">Corin West</span>
                                </div>
                                <div class="d-block w-100 ">
                                    <a href="mailto:corin@lemonadereps.com" class="block_ctrl">corin@lemonadereps.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 pt-5 pt-lg-0 position-relative order-2 order-lg-3">
                <span class="block_ctrl fw_700 h4 pb-4">MENU</span>
                <ul>
                    <li>
                        <a href="{{ const.BASE_URL }}approach">APPROACH</a>
                    </li>
                    <li>
                        <a href="{{ const.BASE_URL }}sustainability">SUSTAINABILITY</a>
                    </li>
                    <li>
                        <a href="{{ const.BASE_URL }}creators">WORK</a>
                    </li>
                    <li>
                        <a href="{{ const.BASE_URL }}news">NEWS</a>
                    </li>
                    <li>
                        <a href="{{ const.BASE_URL }}contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- <div>
    <div class="container-fluid py-6">
        <footer class="footer-menu row white_background"> 
            <div class="footer-social col-md-12 col-lg-3"> 
                <img class="logo-footer" src="{{ const.BASE_URL }}assets/img/logob-helo.svg" alt=""> 
                <P>MOVING EXPERIENCES<sup>TM</sup></P> 
                <div class="social-media">  
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-linkedin.svg" alt=""></a>
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-instagram.svg" alt=""></a>
                </div> 
                <p><strong>justin@helo.tv</strong></p>          
            </div>
            <div class="footer-contact col-md-12 col-lg-6"> 
                <div class="row"> 
                    <h3 class="title-footer">OFFICES</h3> 
                    <div class="col p-0 contac-section1">                 
                        <h6>WEST COAST US.<br>MILKTOAST</h6> 
                        <p>Bryan Fahry</p>                 
                        <p>bryan@milktoast.tv</p> 
                        <h6>MIDWEST US. SAMUEL<br>GUTHREY</h6> 
                        <p>Gay Guthrey</p> 
                        <p>gay@samuelguthrey.com</p>
                        <hr>
                        <p>Rowley Samuel</p>
                        <p>rowley@samuelguthrey.com</p> 
                    </div> 
                    <div class="col p-0 contac-section2">                 
                        <h6>EAST COAST US.<br>MILKTOAST</h6> 
                        <p>Philip Fox Mills</p>
                        <p>philip@milktoast.tv</p>
                        <hr>
                        <p>Jake Strom</p>
                        <p>jake@milktoast.tv</p>                        
                        <h6>UK / EUROPE. <br>LEMONADE</h6> 
                        <p>Corin West</p> 
                        <p>corin@lemonadereps.com</p> 
                    </div> 
                </div> 
            </div> 
            <div class="footer-navmenu col-lg-3"> 
                <h3 class="title-footer">MENU</h3> 
                <div class="menu-footers">             
                    <div class="subrayado">               
                        <li><a href="{{ const.BASE_URL }}approach">APPROACH</a></li> 
                        <li><a href="{{ const.BASE_URL }}sustainability">SUSTAINABILITY</a></li> 
                        <li><a href="{{ const.BASE_URL }}works">WORK</a></li> 
                        <li><a href="{{ const.BASE_URL }}news">NEWS</a></li> 
                        <li><a href="{{ const.BASE_URL }}contact">CONTACT</a></li> 
                    </div>            
                </div>         
            </div> 
        </footer>
    </div>
</div> -->