<div>
    <div class="container-fluid px-0">
        <div class="row m-0">
            <div class="col-2 bg-yellow" style="height: 4px;"></div>
            <div class="col-2 bg-orange" style="height: 4px;"></div>
            <div class="col-2 bg-red" style="height: 4px;"></div>
            <div class="col-2 bg-blueOne" style="height: 4px;"></div>
            <div class="col-2 bg-blueTwo" style="height: 4px;"></div>
            <div class="col-2 bg-green" style="height: 4px;"></div>
        </div>
    </div>
</div>