<div id="bg_colors_" class="{% if NoColors == 5 %} five_colors{% endif %} {% if NoColors == 6 %} six_colors{% endif %}">
    <div class="container-fluid px-0">
        <div class="row m-0">
            <div class="color_ bg-yellow"></div>
            <div class="color_ bg-orange"></div>
            <div class="color_ bg-red"></div>
            <div class="color_ bg-blueOne"></div>
            <div class="color_ bg-blueTwo"></div>
            <div class="color_ bg-green"></div>
        </div>
    </div>
</div>