<!-- MENU  -->  
<nav> 
    <div class="full page"> 
        <img class="logo-home" src="resources/img/logo-helo.svg" alt=""> 
        <div class="menu" id="openNav"></div> 
    </div> 
    <div class="full nav menu-interior"> 
        <img class="logo-home" src="resources/img/logob-helo.svg" alt="">                 
        <div class="menu crossed" id="closeNav"></div> 
        <div class="principal-menu row"> 
            <div class="col"> 
                <div class="subrayado"> 
                    <ul class="list"> 
                        <li id="menu-text" class="hollow-text-black"><a data-src="resources/img/menu/menu-img1.jpg" value="Home">Home</a></li>                                
                        <li id="menu-text" class="hollow-text-black"><a data-src="resources/img/menu/menu-img3.jpg" value="Approach">Approach</a></li> 
                        <li class="hollow-text-black"><a data-src="resources/img/menu/menu-img4.jpg">Sustainability</a></li> 
                        <li class="hollow-text-black"><a data-src="resources/img/menu/menu-img5.jpg">Work</a></li> 
                        <li class="hollow-text-black"><a data-src="resources/img/menu/menu-img6.jpg">News</a></li> 
                        <li class="hollow-text-black"><a data-src="resources/img/menu/menu-img7.jpg">Contact</a></li> 
                    </ul>                          
                </div> 
                <hr> 
                <div class="social-media"> 
                    <a href=""><img src="resources/img/footer/s-linkedin.svg" alt=""></a>
                    <a href=""><img src="resources/img/footer/s-instagram.svg" alt=""></a> 
                </div> 
                <p>justin@helo.tv</p>                         
            </div> 
            <div class="col imagen-menu"> 
                <img class="elipse-fondo" src="resources/img/menu/menu-fondo.svg" alt=""> 
                <div class="image-holder"> 
                    <img class="imagen-fondo" src="resources/img/menu/menu-img2.jpg" alt=""> 
                </div>
                <div class="change-text">
                    <h3 class="textchange-1" >Home</h3>  
                </div>                         
            </div>                         
        </div>  
    </div> 
</nav>