<!-- MENU  -->  
<nav class="menu-nav2">
    <div class="page-msecciones"> 
        <a href="{{ const.BASE_URL }}home"><img class="logo-home2" src="{{ const.BASE_URL }}assets/img/logo-s-helo.svg" alt=""></a>
        <div class="menu-home">
            <li><a class="yellow" href="{{ const.BASE_URL }}works">WORK</a></li>
            <li><a class="" href="{{ const.BASE_URL }}creators">CREATORS</a></li>
            <li><a class="blue" href="{{ const.BASE_URL }}contact">CONTACT</a></li>                    
        </div>                
        <div class="menu2 openNav" onclick="toggleMenu();"></div> 
    </div>
</nav>