<nav class="menu_helo {% if positioned %} positioned{% endif %}" id="principal">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<a {% if positioned %} href="{{ const.BASE_URL }}"{% endif %}>
					<img class="full_" src="{{ const.BASE_URL }}assets/img/logo-helo.svg" alt="">
					<img class="small_" src="{{ const.BASE_URL }}assets/img/logo-s-helo.svg" alt="">
				</a>
				<ul>
					<li>
						<a class="yellow" href="{{ const.BASE_URL }}works">WORK</a>
					</li>
					<li>
						<a class="primary" href="{{ const.BASE_URL }}creators">CREATORS</a>
					</li>
					<li>
						<a class="blue" href="{{ const.BASE_URL }}contact">CONTACT</a>
					</li>
					<li class="hover_cursor" onclick="toggleMenu();">
						<div></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>