{% extends "template.html" %}


{% block title %}
Our approach - HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
  <style>
    footer.footer-menu{
        margin-top: 0px;
    }
  </style>
{% endblock %}

{% block extraJS %}
    <script>
        function _defineProperty(obj, key, value) {if (key in obj) {Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true });} else {obj[key] = value;}return obj;}function getRandomFloat(min, max) {
          return Math.random() * (max - min) + min;
        }
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        function cycle(value, total) {
          return (value % total + total) % total;
        }
    </script>
    <script>
        $('input[type=radio][name=tabs]').change(function() {
          $('.tab-content').css('display', 'none');
          $('#'+this.value).css('display', 'block');
          $('#tabHeader').removeClass("tab-content1 tab-content2 tab-content3");
          $('#tabHeader').addClass(this.value);
        });
    </script>   
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

<div class="py-5" id="title">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <h3 class="title_section blueThree">Our approach</h3>
            </div>
        </div>
    </div>
</div>

<div id="strategy" class="pb-6">
    <div class="container py-6">
        <div class="row justify-content-center">
            <div class="col-auto neon py-6">
                <h2 class="text" data-text="Moving Experiences">Moving Experiences<sup class="d-none d-lg-inline-block">TM</sup></h2>
                <span class="gradient"></span>
                <span class="spotlight"></span>
            </div>
        </div>
    </div>
    <div class="container pb-3">
        <div class="row">
            <div class="col-12">
              <div class="tabs row w-100 m-0 tab-content1" id="tabHeader">
                <input type="radio" value="tab-content1" name="tabs" id="tab1" checked>
                <label for="tab1">
                    <!--i class="icono icon-insight"></-i>
                    <br-->
                    <span class="red">INSIGHT INSPIRED</span>
                </label>
                <input type="radio" value="tab-content2" name="tabs" id="tab2">
                <label for="tab2">
                    <!--i class="icono icon-story"></-i>
                    <br-->
                    <span class="orange">STORY LED</span>
                </label>
                <input type="radio" value="tab-content3" name="tabs" id="tab3">
                <label for="tab3">
                    <!--i class="icono icon-design"></-i>
                    <br-->
                    <span class="yellow">DESIGN DRIVEN</span>
                </label>
              </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
      <div class="tabs row w-100 m-0">
          <div id="tab-content1" class="tab-content" style="display: block;">
             <div class="row w-100 m-0">
                 <div class="col-12 col-md-6 col-xl-7">
                     <p>We speak strategy. Our ability to understand business strategy across internal audiences, B2B, B2B2C, and consumer marketing communications allows us to work directly from insight to concept.</p>
                 </div>
             </div>
          </div>
          <div id="tab-content2" class="tab-content">
             <div class="row w-100 m-0">
                 <div class="col-12 col-md-6 col-xl-7">
                     <p>We are not only storytellers, but story makers. We know how to craft stories across multiple platforms - making sure we work to each platform’s opportunities and limitations - all the while maintaining an overall coherency of narrative.</p>
                 </div>
             </div>
          </div> 
          <div id="tab-content3" class="tab-content">
             <div class="row w-100 m-0">
                 <div class="col-12 col-md-6 col-xl-7">
                     <p>Design determines experience and experience drives outcome. We believe in the power of intentional design and we have the design know-how to deliver exceptional design across all elements of the project.</p>
                 </div>
             </div>
          </div> 
      </div> 
    </div>
</div>


{% include 'modules/line_colors.html' %}

{% include 'modules/contact_us.html' %}

{% include 'modules/footer.html' %}

{% endblock %}