{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
{% endblock %}

{% block content %}

    {% include 'modules/menu_secciones.html' %}

    <div class="py-6" id="creators">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <h3 class="title_section primary">Creators <small>Global talent who create, capture, and amplify Moving Experiences™.</small></h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-10 py-5">
                    <div class="row m-0 w-100 justify-content-center">
                        <div class="col-12 col-md-10 col-lg-9 px-0 pt-3 text-left">
                            <div class="row w-100 m-0">
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Anthony Nikolchev</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Bobbi Rich</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Christine Ng </a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Compound</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Craig Winslow</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Daniel Junge</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Ethan Tobman</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Glenn Kitson</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Jeff Tremaine</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Joseph Bennett</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">KK Barrett</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Kyle Ruddick</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Les Enfants Terribles</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Lola Tango</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Mike Marshall</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Mike Young</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Nathan Crowley</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Nepyru</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Remember I Love You</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Roz</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Sara Nesson</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">Sebastian Kite</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}creator-detail">William Maher</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}