{% extends "template.html" %}


{% block title %}
Creators - HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="{{ const.BASE_URL }}assets/js/preloader_faster.js"></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <h3 class="title_section primary">Creators <small>Global talent who create, capture, and amplify Moving Experiences™.</small></h3>
                </div>
            </div>
            <div class="row justify-content-center pt-4 pt-md-4 pt-lg-6">
                <div class="col-12 col-md-11 col-lg-10">
                    <div class="row m-0 w-100 justify-content-center">
                        <div class="col-12 col-md-10 col-lg-9 px-0 pt-3 text-left">
                            <div class="row w-100 m-0 py-3">
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}anthony-nikolchev">Anthony Nikolchev</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}billy-rainey">Billy Rainey</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}bobbi-rich">Bobbi Rich</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}christine-ng">Christine Ng </a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}craig-winslow">Craig Winslow</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}daniel-junge">Daniel Junge</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}ethan_tobman">Ethan Tobman</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}glenn-kitson">Glenn Kitson</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}jeff-tremaine">Jeff Tremaine</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}joseph-bennett">Joseph Bennett</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}kk_barrett">KK Barrett</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}kyle-ruddick">Kyle Ruddick</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}les-enfants-terribles">Les Enfants Terribles</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}lola-tango">Lola Tango</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}marissa-shrum">Marissa Shrum</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}michael-young">Michael Young</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}mike-marshall">Mike Marshall</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}nathan-crowley">Nathan Crowley</a> 
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}nepyru">NEPYRU</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}roz">Roz</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}sara-nesson">Sara Nesson</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}sebastian-kite">Sebastian Kite</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}free-richardson">Set Free Richardson</a>
                                </div>
                                <div class="item_creator col-6 col-md-4 px-3 ps-md-2 ps-lg-3 ps-xl-5">
                                    <a href="{{ const.BASE_URL }}william-maher">William Maher</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}