{% extends "template.html" %}


{% block title %}
News - HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
<link rel="stylesheet" href="{{ const.BASE_URL }}node_modules/@splidejs/splide/dist/css/splide.min.css">
<style>
    .news-atext{
        color: white;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block extraJS %}
    <script>
        function _defineProperty(obj, key, value) {if (key in obj) {Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true });} else {obj[key] = value;}return obj;}function getRandomFloat(min, max) {
          return Math.random() * (max - min) + min;
        }
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        function cycle(value, total) {
          return (value % total + total) % total;
        }
    </script>
    <script src="{{ const.BASE_URL }}node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
    <script>
       var  splide = new Splide( '.splide', {
            cover  : true,
            type: 'loop',
            height: '65vh',
            drag: true,
            arrows: false,
            pagination: false,
            start: 0,
            padding: {
                right: '20rem',
                left : '20rem',
            },
            breakpoints: {
                1270:{
                    padding: {
                        right: '10rem',
                        left : '10rem',
                    },
                },
                900:{
                    padding: {
                        right: '0rem',
                        left : '0rem',
                    },
                },
	        },
        } ).mount();
        
        // Listen to the "moved" event
        splide.on( 'move.splide01', function(index) {
            if(index+1 == splide.length){
                $('#carrousel_progress').css('width','100%');
                
            }else{
                $('#carrousel_progress').css('width', (100/splide.length)*(index+1)+'%');
            }
        } );
        
        </script>

{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 pb-2">
                <h3 class="title_section green h1">News <small>when you have to deliver something that is exceptional, call us.</small></h3>
            </div>
            <!-- <div class="col" id="search-box">
                <div class="p_auto">
                    SEARCH <input><div class="div1"></div></input>
                </div>
            </div> -->
        </div>
    </div>
</div>
    
<div class="py-5" id="news">
    <div class="container-fluid px-0">
        <div class="row mx-0 justify-content-center">
            <div class="col pb-2 px-0">
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img src="{{ const.BASE_URL }}assets/img/news/nissan_news/portada_sm.jpg" alt="">
                                <div class="content_slide">
                                    <div>
                                        <!--h5 class="slide_h5">DRIVEWAY</!--h5-->
                                        <a class="news-atext" href="{{ const.BASE_URL }}nissan_news"><h3 class="slide_h3 float">Nissan Formula E</h3></a>
                                        <h6 class="slide_h6">NOVEMBER 05, 2021</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide"><img src="{{ const.BASE_URL }}assets/img/news/jack_in_the_box_news/portada.jpg" alt="">
                                <div class="content_slide">
                                    <div>
                                        <!--h5 class="slide_h5">DRIVEWAY</!h5-->
                                        <a class="news-atext" href="{{ const.BASE_URL }}jack_in_the_box_news"><h3 class="slide_h3 float">Jack in the Box Relaunches Monster Tacos</h3></a>
                                        <h6 class="slide_h6">OCTOBER 04, 2021</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide"><img src="{{ const.BASE_URL }}assets/img/news/santander/portada.jpg" alt="">
                                <div class="content_slide">
                                    <div>
                                        <!--h5 class="slide_h5">DRIVEWAY</!h5-->
                                        <a class="news-atext" href="{{ const.BASE_URL }}santander"><h3 class="slide_h3 float">SANTANDER</h3></a>
                                        <h6 class="slide_h6">JULY 03, 2021</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="progress col-4 px-0 mt-5" style="height: 2px;">
                <div class="progress-bar" id="carrousel_progress" role="progressbar" style="width: 25%;" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3"></div>
            </div>
        </div>
    </div>
</div>
    
<div class="py-6" id="news_content">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}set-free-richardson" class="yellow">
                        <img src="assets/img/news/set_free_richardson/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body yellow">
                        <a href="{{ const.BASE_URL }}set-free-richardson" class="card-title">Set Free, the cultural conduit!</a>
                        <p class="date">JUNE 15, 2021</p>
                        <p class="card-text">HELO is proud to announce a partnership with cultural conduit, director, creator, philanthropist, host and personality, <a href="https://www.setfree7.com" target="_blank">Set Free Richardson.</a> Born in the Bronx and raised in Philadelphia, Free is known for implementing his experiences with urban culture into breakthrough ideas from creating the AND1 Mixtapes to experiences for brands like Nike, ESPN, and EA Sports.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}mama-hotdog-rocks" class="orange">
                        <img src="assets/img/news/mama_hot_dog_rocks/portada_sm.jpeg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body orange">
                        <a href="{{ const.BASE_URL }}mama-hotdog-rocks" class="card-title">Bobbi “Mama Hot Dig” Rich Joins HELO.</a>
                        <p class="date">JUNE 23, 2021</p>
                        <p class="card-text">Bobbi <a href="https://www.mamahotdog.com/" target="_blank">“mama hot dog”</a> Rich, the multi-faceted director/production designer/storyteller/ photographer will be joining forces with HELO to create a range of jaw dropping content.  A veteran music director for artists such as Brittany Howard, Enrique Iglesias, Elton John, Nathaniel Rateliff, Marg Price and The Pixies, Bobbi transforms space into bold, visceral experiences.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}lola-tangos" class="red">
                        <img src="assets/img/news/lola_tangos/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body red">
                        <a href="{{ const.BASE_URL }}lola-tangos" class="card-title">Lola Tango’s with HELO.</a>
                        <p class="date">JUNE 26, 2021</p>
                        <p class="card-text">Lola Tango literally wrote the book on immersive storytelling. Both Eve Weston and Jessica Kantor are award-winning XR directors recognized for their pioneering work. These two have brought their innovative thinking to brands such as Google, Oculus, Miller Lite, YouTube, AwesomenessTV and ABC/Disney. And now they are joining the talented team of creative technologists at HELO.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}anthem" class="purple">
                        <img src="assets/img/news/anthem/portada_sm.png" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body purple">
                        <a href="{{ const.BASE_URL }}anthem" class="card-title">HELO reinvents the annual investor conference for Deloitte Digital and Anthem.</a>
                        <p class="date">JUNE 26, 2021</p>
                        <p class="card-text">By showcasing Anthem in a way that brought their digital transformation to life, Deloitte and HELO drove $2B in value for Anthem during their Investor Relations Day in March 2021.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}adidas" class="blue">
                        <img src="assets/img/news/adidas/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body blue">
                        <a href="{{ const.BASE_URL }}adidas" class="card-title">Cartwright and HELO Honor Black Excellence for Adidas.</a>
                        <p class="date">JUNE 29, 2021</p>
                        <p class="card-text">There is no picture of sport, culture, or Adidas without the Black community. Honoring Black Excellence is an Adidas initiative celebrating the achievements of Black individuals, and Black culture as a whole. Throughout the year, Adidas will highlight six honorees from different sports, offering a platform to give back and share their stories.  Helo is proud to help create these beautiful tributes under the direction of Set Free Richardson.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}nepyru_creative_company" class="green">
                        <img src="assets/img/news/nepyru/portada_sm.jpeg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body green">
                        <a href="{{ const.BASE_URL }}nepyru_creative_company" class="card-title">HELO signs creative technology company Nepyru</a>
                        <p class="date">JULY 03, 2021</p>
                        <p class="card-text">Nepyru is an engineering led, multi-award winning, creative technology company specializing in wonder. Driven by the most powerfully engineered technology of today, Nepyru keeps a close track of the promise of a hybrid, immersive and augmented future.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}santander" class="yellow">
                        <img src="assets/img/news/santander/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body yellow">
                        <a href="{{ const.BASE_URL }}santander" class="card-title">HELO’s In Someone Else’s Shoes shortlisted for a Glass Lion</a>
                        <p class="date">JULY 03, 2021</p>
                        <p class="card-text">Bozoma Saint John, Global Chief Marketing Officer for Netflix announced the Shortlist for the Cannes Glass Lion Award.  HELO’s In Someone Else’s Shoes was nominated along with other stunning work that we are truly inspired by.  The Glass Lion for Change celebrates culture-shifting creativity.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}christine_ng_news" class="orange">
                        <img src="assets/img/news/christine_ng_news/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body orange">
                        <a href="{{ const.BASE_URL }}christine_ng_news" class="card-title">Director and Cinematographer Christine Ng Joins HELO’s roster of creators</a>
                        <p class="date">AUGUST 05, 2021</p>
                        <p class="card-text"><a href="http://christineng.com">Christine Ng</a> is a rising star as a cinematographer, bringing an original and emotionally resonant look to projects as diverse as Super Bowl commercials, indie films, and docudrama series. When it came time for her to find a directorial home for branded content, commercials, and experiential projects, she chose HELO for their uniquely collaborative approach and strong reputation for producing original and innovative work.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}jack_in_the_box_news" class="red">
                        <img src="assets/img/news/jack_in_the_box_news/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body red">
                        <a href="{{ const.BASE_URL }}jack_in_the_box_news" class="card-title">Jack in the Box Relaunches Monster Tacos</a>
                        <p class="date">OCTOBER 04, 2021</p>
                        <p class="card-text">For National Taco Day (October 4, 2021) Jack in the Box asked creative agency David and Goliath and experiential marketing production company HELO to create an experience that would excite their late night audience.  With Halloween right around the corner, they wanted to bring their Monster Tacos back in a spooky way that felt authentic to the brand.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <div class="card">
                    <a href="{{ const.BASE_URL }}nissan_news" class="purple">
                        <img src="assets/img/news/nissan_news/portada_sm.jpg" class="card-img-top" alt="img_news">
                        <div class="color"></div>
                        <div class="overlay_">
                            <img src="{{ const.BASE_URL }}assets/img/play.svg">
                        </div>
                    </a>
                    <div class="card-body purple">
                        <a href="{{ const.BASE_URL }}nissan_news" class="card-title">Glenn Kitson directs pulse racing driving stunt for Nissan</a>
                        <p class="date">NOVEMBER 05, 2021</p>
                        <p class="card-text">To celebrate Nissan’s partnership with Formula E and Manchester City Football Club, Nissan wanted to create a driving stunt on the streets of Manchester with a real Nissan Formula E vehicle and the new Nissan Aryia, that used biometric data connected to the driver to create an electrifying visual display on the exterior of the car.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container" id="paginator">
    <div class="row py-5 justify-content-center">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row multicolor">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>
</div>
    
{% include 'modules/footer.html' %}

{% endblock %}