{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="{{ const.BASE_URL }}assets/js/main.js" ></script>
    <script src="{{ const.BASE_URL }}assets/js/change-img.js" ></script>
    <script>
        function _defineProperty(obj, key, value) {if (key in obj) {Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true });} else {obj[key] = value;}return obj;}function getRandomFloat(min, max) {
          return Math.random() * (max - min) + min;
        }
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        function cycle(value, total) {
          return (value % total + total) % total;
        }
    </script>

{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

      <main class="title-">
          <section class="sustainability-section">
            <section class="container sustainability-title">
                <h1>THE HELO GREEN INITIATIVE</h1>
                <p>Accountable to ourselves, our clients, and world.</p>
                <a href="#" onClick="event.preventDefault();$('html,body').animate({scrollTop:$('#ancla').offset().top-30},0);" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
            </section>
            <section id="ancla" class="container sustainability-steps row">
                <div class="col-12 col-lg-3">
                    <h3>01</h3>
                    <p>By being environmentally conscious, we make our messages more precise and less wasteful.</p>                   
                </div>
                <div class="col-12 col-lg-3">
                    <h3>02</h3>
                    <p>Whether we like it or not, the environmental impact is one of the things we’re communicating.</p>                   
                </div>  
                <div class="col-12 col-lg-3">
                    <h3>03</h3>
                    <p>Environmentally efficient is more cost-efficient.</p>                   
                </div>  
                <div class="col-12 col-lg-3">
                    <h3>04</h3>
                    <p>Even if it didn’t make business sense (which it does), it’s just the right thing to do.</p>                   
                </div>                
            </section>              
          </section>

          <section class="sustainability-video pb-6 pb-md-0">
              <div class="container">
                <h3 class="mb-4">SUSTAINABILITY CASE STUDY</h3>
                <iframe src="https://player.vimeo.com/video/387747106?h=fbbc02d1b9" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>    
              </div>
          </section>

          <section class="container sustainability-reportd-cart">
            <h3 class="green-report title_section green">GREEN REPORT CARD <small>HELO has committed to becoming a carbon-neutral enterprise by the end of 2021. 
                We will track our progress towards this goal based on the following metrics:</small></h3>
              <div class="metrics">
                  <div class="metrics-fila1 row">
                    <div class="col-6 col-lg-4">
                        <img src="{{ const.BASE_URL }}assets/img/sustainability/metric1.svg" alt="">
                        <h6>Resource Conservation</h6>
                    </div>
                    <div class="col-6 col-lg-4">
                      <img src="{{ const.BASE_URL }}assets/img/sustainability/metric2.svg" alt="">
                      <h6>Food Rescue</h6>
                  </div>
                  <div class="col-6 col-lg-4">
                      <img src="{{ const.BASE_URL }}assets/img/sustainability/metric3.svg" alt="">
                      <h6>Landfill Diversion</h6>
                  </div>                
               
                    <div class="col-6 col-lg-4">
                        <img src="{{ const.BASE_URL }}assets/img/sustainability/metric4.svg" alt="">
                        <h6>Carbon Capture</h6>
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="{{ const.BASE_URL }}assets/img/sustainability/metric5.svg" alt="">
                        <h6>Water Conservation</h6>
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="{{ const.BASE_URL }}assets/img/sustainability/metric6.svg" alt="">
                        <h6>Energy Conservation</h6>
                    </div>
                </div>

              </div>
          </section>
      </main>
      <div class="container-fluid">
        <div class="row multicolor">
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>
      {% include 'modules/footer.html' %}
{% endblock %}