{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="{{ const.BASE_URL }}assets/js/preloader.js"></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 pb-6">
                    <h3 class="title_section blue text-grey_dark mb-3">Thank you! 
                        <span>Justin will get in touch with you shortly. We are looking forward to create a experience together for your project. In the meantime, you can visit our <a href="{{ const.BASE_URL }}works">work</a> page to get ideas for your next project.</span>
                    </h3>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}index" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                HOME
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ const.BASE_URL }}assets/img/logo-s-helo.svg" alt="">
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}