{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 pb-6">
                    <h3 class="mb-3">Thank you!</h3>
                    <p class="text-grey">Justin will get in touch with you shortly. We are looking forward to create a experience together for your project. In the meantime, you can visit our work page to get ideas for your next project.</p>
                    <hr size="5" style="opacity: 1;" class="bg-secondary">
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}index" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                HOME
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ const.BASE_URL }}assets/img/logo-s-helo.svg" alt="">
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}