<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="description" content="">
  <meta name="robots" content="index"/>
  
  <link rel="icon" href="{{ const.BASE_URL }}assets/img/icon.png" type="image/png">

  <link rel="preload" href="{{ const.BASE_URL }}assets/css/custom.css" as="style">

  <link rel="prefetch" href="{{ const.BASE_URL }}node_modules/jquery/dist/jquery.min.js" as="script">
  <link rel="prefetch" href="{{ const.BASE_URL }}node_modules/bootstrap/dist/js/bootstrap.min.js" as="script">

  {% block preloads %}{% endblock %}

	<link href="{{ const.BASE_URL }}assets/css/custom.css" rel="stylesheet">
    <script src="{{ const.BASE_URL }}node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ const.BASE_URL }}node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<title>{% block title %} {% endblock %}</title>

	{% block extraCSS %}{% endblock %}

</head>
<body>

    <div class="full nav menu-interior"> 
        <img class="logo-home" src="{{ const.BASE_URL }}assets/img/logob-helo.svg" alt="">                 
        <div class="menu crossed closeNav" id="closeNav"></div> 
        <div class="principal-menu row"> 
            <div class="col"> 
                <div class="subrayado"> 
                    <ul class="list"> 
                        <li class="hollow-text-black menu-tex1"><a id="atext-menu" href="{{ const.BASE_URL }}home" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img1.jpg" value="Home">Home</a></li>
                        <div class="change-text textchange-1"><h3>Home</h3></div>                                 
                        <li id="menu-text" class="hollow-text-black menu-tex2"><a id="atext-menu" href="{{ const.BASE_URL }}approach" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img3.jpg" value="Approach">Approach</a></li>
                        <div class="change-text textchange-2"><h3>Approach</h3></div>
                        <li class="hollow-text-black menu-tex3"><a id="atext-menu" href="{{ const.BASE_URL }}sustainability" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img4.jpg">Sustainability</a></li>
                        <div class="change-text textchange-3"><h3>Sustainability</h3></div> 
                        <li class="hollow-text-black menu-tex4"><a id="atext-menu" href="{{ const.BASE_URL }}works" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img5.jpg">Work</a></li>
                        <div class="change-text textchange-4"><h3>Work</h3></div>
                        <li class="hollow-text-black menu-tex4 creators-movil"><a id="atext-menu" href="{{ const.BASE_URL }}creators" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img5.jpg">Creators</a></li>
                        <li class="hollow-text-black menu-tex5"><a id="atext-menu" href="{{ const.BASE_URL }}news" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img6.jpg">News</a></li>
                        <div class="change-text textchange-5 "><h3>News</h3></div> 
                        <li class="hollow-text-black menu-tex6"><a id="atext-menu" href="{{ const.BASE_URL }}contact" data-src="{{ const.BASE_URL }}assets/img/menu/menu-img7.jpg">Contact</a></li>
                        <div class="change-text textchange-6"><h3>Contact</h3></div>
                    </ul>                          
                </div> 
                <hr>
                <div class="social-media"> 
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-linkedin.svg" alt=""></a>
                    <a href=""><img src="{{ const.BASE_URL }}assets/img/footer/s-instagram.svg" alt=""></a> 
                </div> 
                <p>justin@helo.tv</p>                         
            </div> 
            <div class="col imagen-menu"> 
                <img class="elipse-fondo" src="{{ const.BASE_URL }}assets/img/menu/menu-fondo.svg" alt=""> 
                <div class="image-holder"> 
                    <img class="imagen-fondo" src="{{ const.BASE_URL }}assets/img/menu/menu-img2.jpg" alt=""> 
                </div>                        
            </div>                         
        </div>  
    </div> 


    <div id="cursor"></div>
    <section id="loader_container">
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="H" class="letters-loading">H</span>                            
                        <span data-text-preloader="E" class="letters-loading">E</span>                            
                        <span data-text-preloader="L" class="letters-loading">L</span>                            
                        <span data-text-preloader="O" class="letters-loading">O</span>                            
                        <span data-text-preloader="+" class="letters-loading">+</span>                        
                    </div>
                </div>  
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </section>

	{% block content %}{% endblock %}
        
    <div class="footer">
      <div class="content">
        <div class="row">
          <div><span>© 2021 BY HELO, ALL RIGHTS RESERVED <span class="footer-yellow">|</span> PRIVACY TERMS </span></div>
        </div>
      </div>
    </div>
    <svg style="position:fixed; top:100vh;">
      <defs>
        <filter id="blob">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
          <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
        </filter>
      </defs>
    </svg>


</body>
    <script>
        var base_url;
        window.base_url = "{{ const.BASE_URL }}";
    </script>
    <script src="{{ const.BASE_URL }}node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/change-img.js" ></script>
    <script>
        document.addEventListener("mousemove", function(event) {
        const x = event.pageX - 10;
        const y = event.pageY - 10;
        const cursor = document.querySelector("#cursor");
        cursor.style.left = x + "px";
        cursor.style.top = y + "px";
        });
        $('a').on("mouseover", function(){
        $('#cursor').css({'transform': 'scale(2)'});
        });
        $('a').on("mouseleave", function(){
        $('#cursor').css({'transform': 'scale(1)'});
        });
        $('span').on("mouseover", function(){
        $('#cursor').css({'transform': 'scale(2)'});
        });
        $('span').on("mouseleave", function(){
        $('#cursor').css({'transform': 'scale(1)'});
        });
        // sayHello
        var Helo = ["\n%c HELO +!" + " %c http://www.helo.com/ \n", "color: white; font-size: 14px; background: #000; padding:5px 0;", "background: #fff; padding:3px 0; margin-bottom: 4px;"];
        window.console.log.apply(console, Helo);
    </script>
    <script>
        function _defineProperty(obj, key, value) {if (key in obj) {Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true });} else {obj[key] = value;}return obj;}function getRandomFloat(min, max) {
          return Math.random() * (max - min) + min;
        }
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        function cycle(value, total) {
          return (value % total + total) % total;
        }
    </script>
	{% block extraJS %}{% endblock %}
    <script src="{{ const.BASE_URL }}assets/js/preloader.js"></script>

</html>