div#canvas_{
	overflow-x: hidden;width: 100%;
	>div{
		@include block_ctrl();
    	overflow: hidden;
    	//height: 350px;
    	height: 18vw;
    	>div{
    		&:before,&:after{
    			content: '';
    		}
    		@include block_ctrl();
    		//margin: -300px 0px;
   		    margin: -15vw 0vw;
    		>canvas{

    		}
    	}
	}
}

div#bg_colors_{
	div.row{
		>div.color_{
    		flex: 0 0 auto;
    		width: 16.66666667%;
    		height: 4px;
		}
	}
	&.five_colors{
		div.row{
			>div.color_{
				width: 20%;
				&:last-child{
					display: none;
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	div#canvas_{
		>div{
			@include block_ctrl();
	    	overflow: hidden;
	    	height: 350px;
	    	>div{
	    		margin: 0px;
	    		&:before,&:after{
	    			@include block_ctrl();
	    			height: 175px;
	    		}
	    		&:before{
	    			background-color: #000000;
	    		}
	    		&:after{
	    			background-color: #FFFFFF;
	    		}
	    		>canvas{
					display: none;
	    		}
	    	}
		}
	}
}