#creators{
	.item_creator{
	    padding: 10px 0px;
		>a{
			line-height: 1.2;
    		display: inline-block;
    		width: auto;
    		position: relative;
    		font-weight: 600;
    		color: $grey_dark;
    		text-decoration: none;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
    		&:after{
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
    			content: '';
    			display: inline-block;
    			position: absolute;
    			bottom: 0px;
    			left: 0px;
    			right: 0px;
    			width: 0%;
    			margin: 0px auto;
    			height: 2px;
    			background-color: $primary;
    		}
    		&:hover{
    			&:after{
    				width: 100%;
    			}
    			color: $primary;
    		}
		}
	}
}

.bg_yellow_ts{
    background-color: rgba($yellow, .4);
}
.bg_orange_ts{
    background-color: rgba($orange, .4);
}
.bg_red_ts{
    background-color: rgba($red, .4);
}
.bg_blueOne_ts{
    background-color: rgba($blueOne, .4);
}
.bg_blueTwo_ts{
    background-color: rgba($blueTwo, .4);
}
.bg_green_ts{
    background-color: rgba($green, .4);
}


@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
	#creators{
		.item_creator{
			text-align: center;
		}
	}
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
    
}