
div.item_work{
    position: relative;
    overflow: hidden;
    >div.video_content{

    }
    >div.info_content{
        display: inline-block;
        position: absolute;
        left: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        bottom: -100%;
        text-align: center;
        @include ease(.45s);
        p{
            @include block_ctrl();
            font-size: 1rem;
            font-weight: 400;
            color: #FFF;
        }
        h1{
            font-size: 3rem;
            letter-spacing: 0px;
            color: #FFF;
            text-shadow: 0 0 12px rgb(255 255 255 / 15%);
            font-weight: 500;
            margin: 15px 0px;
        }
        img{
            display: inline-block;
            position: relative;
            float: none;
            margin: 0px auto;
            width: 50px;
            cursor: pointer;
            @include ease(.25s);
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
    &:hover{
        >div.info_content{
            bottom: 0%;
        }
    }
    &.yellow{
        >div.info_content{
            background-color: rgba($yellow, .4);
        }
    }
    &.orange{
        >div.info_content{
            background-color: rgba($orange, .4);
        }
    }
    &.red{
        >div.info_content{
            background-color: rgba($red, .4);
        }
    }
    &.blue{
        >div.info_content{
            background-color: rgba($blueOne, .4);
        }        
    }
    &.purple{
        >div.info_content{
            background-color: rgba($blueTwo, .4);
        }        
    }
    &.green{
        >div.info_content{
            background-color: rgba($green, .4);
        }
    }

}

@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {   
}