@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.light{
	color: #FFFFFF;
}
.black{
	color: #000000;
}


.fw_100{
    font-weight: 100;
}
.fw_200{
    font-weight: 200;
}
.fw_300{
    font-weight: 300;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}
.fw_800{
    font-weight: 800;
}
.fw_900{
    font-weight: 900;
}
.lh_1{
    line-height: 1;
}
.lh_1_1{
    line-height: 1.1;
}
.lh_1_2{
    line-height: 1.2;
}
.lh_1_3{
    line-height: 1.3;
}
.lh_1_4{
    line-height: 1.4;
}
.lh_1_5{
    line-height: 1.5;
}
.lh_1_6{
    line-height: 1.6;
}
.lh_1_7{
    line-height: 1.7;
}
.lh_1_8{
    line-height: 1.8;
}
.lh_1_9{
    line-height: 1.9;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 900;
}
.h1{
    font-size: 2.35rem;
}
