/*CONTACT SECTION*/
#contact-home{
  background: #000000;
  height: 45vh;
  max-height: 500px;
  min-height: 200px;
  h3{
    color: #f1f1f1;
    font-weight: 600;
    font-size: 4rem;
    line-height: 90px;
    cursor: pointer;
    &:hover{
      span{
        -webkit-animation: dubstep 1.2858s infinite ease;
                animation: dubstep 1.2858s infinite ease;
      }
      span + span {
        -webkit-animation: dubstep 1.318s infinite ease;
                animation: dubstep 1.318s infinite ease;
      }
      span + span + span {
        -webkit-animation: dubstep 1.3958s infinite ease;
                animation: dubstep 1.3958s infinite ease;
      }
    }
  }
}

  @-webkit-keyframes dubstep {
    0% {
      text-shadow: 0 0 0 #fff;
    }
    40% {
      text-shadow: 3px 0 0 #ffaa22;
    }
    43% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    44% {
      text-shadow: 3px 0 0 #ffaa22, 15px 2px 0 #aa22ff, -7px -1.5px 0 #aaff22;
      color: rgba(0, 0, 0, 0.2);
    }
    45% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    100% {
      text-shadow: 0 0 0 #fff;
    }
  }
  @keyframes dubstep {
    0% {
      text-shadow: 0 0 0 #fff;
    }
    40% {
      text-shadow: 3px 0 0 #ffaa22;
    }
    43% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    44% {
      text-shadow: 3px 0 0 #ffaa22, 15px 2px 0 #aa22ff, -7px -1.5px 0 #aaff22;
      color: rgba(0, 0, 0, 0.2);
    }
    45% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    100% {
      text-shadow: 0 0 0 #fff;
    }
  }
  .footer-yellow{
    color: #ffaa22;
  }
  
  /*FOTTER*/
  footer{
    text-align: center;
  }
  .footer-menu{
    position: relative;
  }
  .logo-footer{
    width: 220px;
  }
  .footer-social p{
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .title-footer{    
    font-weight: bold;
    font-size: 1.45rem;
    margin-bottom: 20px;  
  }
  .footer-contact h6{
    margin-left: -5px;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 7px;
    font-weight: bold;
    margin-top: 30px;    
  }
  .footer-contact p{  
    text-align: left;
    font-size: .85rem;
    margin: -5px;
  }
  .footer-contact hr{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px; 
    width: 50%;
  }
  .footer-social{
    border-right: 1px solid #ABABAB;
  }
  .footer-contact{
    padding-left: 35px;
    border-right: 1px solid #ABABAB;
  }
  .footer-navmenu li{
    list-style: none;
    font-size: 1rem;
    margin-bottom: 8px;  
  }
  .menu-footers{
    margin: 0;
    margin-top: 5vh;
  }
  .menu-footers a{
    color:#6A6969 !important;
  }
  .contac-section1{
    margin-left: 6vw;
  }
  .menu-footers a{
    text-decoration: none;
  }
  
   .footer {
    z-index: 1;
    --footer-background:#000000;
    display: grid;
    position: relative;
    grid-area: footer;
    color:#FFF
  }

  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: .75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: .5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 8rem;
    height: 110px;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  .image p{
      display: inline-flex;
      padding: 8px;
      vertical-align: bottom;
      margin-bottom: 0px;
      font-size: 1rem!important;
  }

  /*Adaptacion movil*/

@media (max-width: 700px) {

}

@include media-breakpoint-down(lg) {
    .footer-navmenu{
      display: none;
    }
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
    .logo-footer{
      width: 150px;
    }
    .footer-social p{
      margin-bottom: 20px;
    }
    .contac-section2{
      margin-left: 6vw;
      margin-right: 6vw;
    }
    .contac-section1{
      margin-right: 6vw;
    }
}