/*CONTACT SECTION*/
#contact-home{
    z-index: 2;
    position: relative;
}
.contact-home {
    background: #000000;
    padding: 15vh 0;
    color: #f1f1f1; 
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
  }
  .contact-home p{
    color: #7E7E7E;
    margin-bottom: -1vh;
  }
  .dubstep-effect {
    font-weight: 600;
    font-size: 62px;
    line-height: 90px;
    cursor: pointer;
  }
  .dubstep-effect:hover span {
    -webkit-animation: dubstep 1.2858s infinite ease;
            animation: dubstep 1.2858s infinite ease;
  }
  .dubstep-effect:hover span + span {
    -webkit-animation: dubstep 1.318s infinite ease;
            animation: dubstep 1.318s infinite ease;
  }
  .dubstep-effect:hover span + span + span {
    -webkit-animation: dubstep 1.3958s infinite ease;
            animation: dubstep 1.3958s infinite ease;
  }
  @-webkit-keyframes dubstep {
    0% {
      text-shadow: 0 0 0 #fff;
    }
    40% {
      text-shadow: 3px 0 0 #ffaa22;
    }
    43% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    44% {
      text-shadow: 3px 0 0 #ffaa22, 15px 2px 0 #aa22ff, -7px -1.5px 0 #aaff22;
      color: rgba(0, 0, 0, 0.2);
    }
    45% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    100% {
      text-shadow: 0 0 0 #fff;
    }
  }
  @keyframes dubstep {
    0% {
      text-shadow: 0 0 0 #fff;
    }
    40% {
      text-shadow: 3px 0 0 #ffaa22;
    }
    43% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    44% {
      text-shadow: 3px 0 0 #ffaa22, 15px 2px 0 #aa22ff, -7px -1.5px 0 #aaff22;
      color: rgba(0, 0, 0, 0.2);
    }
    45% {
      text-shadow: 3px 0 0 #ffaa22, 15px 0 0 #aa22ff, -7px 0 0 #aaff22;
      color: #f1f1f1;
    }
    100% {
      text-shadow: 0 0 0 #fff;
    }
  }
  
  /*FOTTER*/
  footer{
    text-align: center;
    overflow-y: hidden;
  }
  .footer-menu{
    margin-top: 5vh;
    margin-bottom: 32vh;
    z-index: 2;
    position: relative;
    &.negative{
      margin-top: -25vh;
    }
  }
  .logo-footer{
    width: 220px;
  }
  .footer-social p{
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .title-footer{    
    font-weight: bold;
    font-size: 1.45rem;
    margin-bottom: 20px;  
  }
  .footer-contact h6{
    margin-left: -5px;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 7px;
    font-weight: bold;
    margin-top: 30px;    
  }
  .footer-contact p{  
    text-align: left;
    font-size: .85rem;
    margin: -5px;
  }
  .footer-contact hr{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px; 
    width: 50%;
  }
  .footer-social{
    border-right: 1px solid #ABABAB;
  }
  .footer-contact{
    padding-left: 35px;
    border-right: 1px solid #ABABAB;
  }
  .footer-navmenu li{
    list-style: none;
    font-size: 1rem;
    margin-bottom: 8px;  
  }
  .menu-footers{
    margin: 0;
    margin-top: 5vh;
  }
  .menu-footers a{
    color:#6A6969 !important;
  }
  .contac-section1{
    margin-left: 6vw;
  }
  .menu-footers a{
    text-decoration: none;
  }
  
   .footer {
    z-index: 1;
    --footer-background:#000000;
    display: grid;
    position: relative;
    grid-area: footer;
    color:#FFF
  }
  body .footer .bubbles {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    height: 0.3rem;
    background: var(--footer-background);
    -webkit-filter: url("#blob");
            filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 8s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 8s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 8s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 8s) ease-in infinite var(--delay, 0s);
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: .75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: .5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 8rem;
    height: 110px;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  .image p{
      display: inline-flex;
      padding: 8px;
      vertical-align: bottom;
      margin-bottom: 0px;
      font-size: 1rem!important;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 50rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 50rem);
    }
  }

  /*Adaptacion movil*/
  
  @media (max-width: 700px) {
    .footer-menu{
      overflow-x: hidden;
    }
    .footer-navmenu{
      display: none;
      visibility: hidden;
    }
  }