div.item_typeWork{
	position: relative;
    flex: 0 0 auto;
    width: 20%;
    height: 65vh;
    min-height: 500px;
    overflow: hidden;
    background-size: 100%;
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: auto;
    @include ease(.45s);
	&:after{
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 4px;
		margin: 0px auto;
	}
	>div.row{
		pointer-events: none;
		@include ease(.45s);
		z-index: 2;
		position: relative;
		>div{
			>span{
    			display: inline-block;
    			position: relative;
				font-size: 3rem;
				font-weight: 600;
				color: #FFFFFF;
    			writing-mode: vertical-lr;
				transform: rotate(180deg);
	    		padding-top: 45px;
	    		@include ease(.45s);
			}
		}
	}
	>video{
		pointer-events: none;
		display: inline-block;
    	position: absolute;
    	top: -50%;
    	bottom: -50%;
    	left: -50%;
    	right: -50%;
    	margin: auto;
    	opacity: 0;
    	height: 70vh;
    	@include ease(.45s);
	}
	&:nth-child(1){
		&:after{
			background-color: $yellow;
		}
	}
	&:nth-child(2){
		&:after{
			background-color: $orange;
		}
	}
	&:nth-child(3){
		&:after{
			background-color: $red;
		}
	}
	&:nth-child(4){
		&:after{
			background-color: $blueOne;
		}
	}
	&:nth-child(5){
		&:after{
			background-color: $blueTwo;
		}
	}
	&.inactive{
		width: 10%;
	}
	&.active{
		width: 60%;
		&:before{
			opacity: .5;
		}
		div.row{
			align-items: center !important;
			>div{
				>span{
					writing-mode: horizontal-tb;
    				transform: rotate( 0deg );
    				padding-top: 0px;
					font-size: 3.5rem;
					font-weight: 800;
				}
			}
		}
		>video{
			opacity: 1;
		}
	}
}


/*TEST SCROLL SEQUENCE*/
div#canvas_container{
    overflow: hidden;
    z-index: 1;
	>canvas#hero-lightpass {
	    position: fixed;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    bottom: 0px;
	    min-width: 100vw;
	    min-height: 100vh;
	    padding: 0px;
	    margin: 0px;
	    z-index: 0;
	}
	>div#container-info{
		z-index: 2;
    	position: relative;
		>div.row{
			min-height: 500px;
			height: 100vh;
			&:nth-child(1){
				height: 150vh;
			}
		}
	}
}








$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 52px;
$heightMouse: 88px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
  background:
    $colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $colorOutline 50%,
      $colorOutline 100%
    );
}

div.scroll_{
	display: inline-block;
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 100%;
	margin: 0px auto;
	z-index: 1;
	pointer-events: none;
	opacity: .95;
	@include ease(.75s);
	&.hide_{
	    opacity: 0 !important;
	}
	p{
    	margin-top: 25px;
    	letter-spacing: 5px;
	  	text-indent: 5px;
	  	color: $colorOutline;
	  	animation: 
	  	  	colorText $animDuration ease-out infinite,
	  	  	nudgeText $animDuration ease-out infinite;
	}
	.mouse {
		@include bgGradient;
		position: relative;
		width: $widthMouse;
		height: $heightMouse;
		float: none;
		margin: 0px auto;
		border-radius: 100px;
		background-size: 100% 200%;
		animation: 
			colorSlide $animDuration linear infinite, 
			nudgeMouse $animDuration ease-out infinite;
	  	&:before,
	  	&:after {
	  	  	content: "";
	  	  	position: absolute;
	  	  	top: 0; right: 0; bottom: 0; left: 0;
	  	  	margin: auto;
	  	}
	  	&:before {
	  	  	width: $widthMouse - $borderMouse;
	  	  	height: $heightMouse - $borderMouse;
	  	  	background-color: $colorBg;
	  	  	border-radius: 100px;
	  	}
	  	&:after {
	  	  	background-color: $colorOutline;
	  	  	width: $sizeTrackball;
	  	  	height: $sizeTrackball;
	  	  	border-radius: 100%;
	  	  	animation: trackBallSlide $animDuration linear infinite;
	  	}
	}
}

@keyframes colorSlide { 
  	0% { background-position: 0% 100%; }
  	20% { background-position: 0% 0%; }
  	21% { background-color: $colorOutlineFade; }
  	29.99% { 
  	  	background-color: $colorOutline;
  	  	background-position: 0% 0%;
  	}
  	30% { 
  	  	background-color: $colorOutlineFade;
  	  	background-position: 0% 100%;
  	}
  	50% { background-position: 0% 0%; }
  	51% { background-color: $colorOutlineFade; }
  	59% { 
  	  	background-color: $colorOutline;
  	  	background-position: 0% 0%;
  	}
  	60% { 
  	  	background-color: $colorOutlineFade;
  	  	background-position: 0% 100%;
  	}
  	80% { background-position: 0% 0%; }
  	81% { background-color: $colorOutlineFade; }
  	90%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% { 
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY($posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posMouse); }
  90% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY($posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText { 
  21% { color: $colorOutlineFade; }
  30% { color: $colorOutline; }
  51% { color: $colorOutlineFade; }
  60% { color: $colorOutline; }
  81% { color: $colorOutlineFade; }
  90% { color: $colorOutline; }
}






@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
	div.item_typeWork{
		width: 100%;
    	height: 100px;
    	min-height: inherit;
    	border-bottom-style: solid;
    	border-bottom-width: 1px;
    	&:nth-child(1){
   		    border-color: $yellow;
    	}
    	&:nth-child(2){
   		    border-color: $orange;
    	}
    	&:nth-child(3){
   		    border-color: $red;
    	}
    	&:nth-child(4){
   		    border-color: $blueOne;
    	}
    	&:nth-child(5){
   		    border-color: $blueTwo;
    	}
		&:before{
		    background-color: rgb(255 255 255) !important;
		    @include ease(.25s);
		}
		&:after{
			top: 0px;
			height: 100%;
			width: 5px;
			margin: auto 0px;
		    z-index: 2;
		}
		>div.row{
		    align-items: center !important;
			>div{
				>span{
					writing-mode: horizontal-tb;
					transform: rotate(0deg);
    				padding-top: 0px;
    				color: #dcdcdc;
    				font-size: 2rem;
				}
			}
		}
		>video{
			display: none;
		}
		&.inactive{
		}
		&.active{
			width: inherit;
			&:before{
			}
			div.row{
				>div{
					>span{
					}
				}
			}
		}
		&:hover{
			height: 50vh;
			min-height: 200px;
			max-height: 750px;
			&:nth-child(1){
				&:before{
					background-color: rgba($yellow, .4) !important;
				}
			}
			&:nth-child(2){
				&:before{
					background-color: rgba($orange, .4) !important;
				}
			}
			&:nth-child(3){
				&:before{
					background-color: rgba($red, .4) !important;
				}
			}
			&:nth-child(4){
				&:before{
					background-color: rgba($blueOne, .4) !important;
				}
			}
			&:nth-child(5){
				&:before{
					background-color: rgba($blueTwo, .4) !important;
				}
			}
			div.row{
				>div{
					>span{
						font-size: 3rem;
    					font-weight: 600;
    					color: #FFFFFF;
					}
				}
			}

		}
	}	
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}