.portada{
    background: rgb(255, 255, 255);
    img{
        width: 100%;
    }
    p{
        margin-right: auto;
        margin-left: auto;
        margin-top: 12vh;
        margin-bottom: 12vh;
        text-align: center;
        line-height: 40px;
        width: 50%;
        font-size: 29px;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
}

.informacion{
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12vh;

    img{
        width: 100%;
    }
    .information-text{
        margin-top: 12vh;

        h3{
            font-size: 29px;
            font-weight: 500;
        }
        p{
            font-size: 21px;
            font-weight: 500;
            line-height: 32px;
        }
        .informacion-logo{
            text-align: center;
            img{
                width: 270px; 
            }   
        }
    }
}

.informacion-card{
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    

    .informacion-internal-card{
        height: 250px;
        border-left: solid 6px black;
        box-shadow: 6px 10px 7px -1px rgba(215,215,215,0.7);
        -webkit-box-shadow: 6px 10px 7px -1px rgba(215,215,215,0.7);
        -moz-box-shadow: 6px 10px 7px -1px rgba(215,215,215,0.7);
    }
    h5{

        margin-right: auto;
        margin-left: auto;
        font-size: 37px;
        line-height: 48px;
        font-style: italic;
        font-weight: 400;
        width: 50%;
    }
    h4{
        margin-top: 25px;
        font-size: 29px;
        color: #7A7A7A;        
    }
    img{
        float: right;
        margin-top: 15px;
        margin-right: 25px;
    }
}

.informacion-imagen-principal{
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    text-align: center;

    img{
        width: 100%;
    }
}

.informacion-secundaria{
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    text-align: left;

    h3{
        font-size: 29px;
        font-weight: 400;        
    }
    p{
        font-size: 21px;
        line-height: 32px;
    }
}

.share{
    margin-top: 6vh;
    background: #FFFFFF;
    text-align: right;
    margin-right: 14vw;

    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        img{
            margin-left: 5px;
        }
    }
}

.cambiar-noticia{
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    margin-bottom: 6vh;

    
    .past-arrow{
        a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: #000000;
            img{
                padding: 0px 8px 0px 0px;
                height: 20px;
            }
        }               
    }
    .next-arrow{
        text-align: right;
        a{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            color: #000000;
            img{
                padding: 0px 0px 0px 8px;
                height: 20px;
            }
        }       
        
    }
}

#divocultamuestra{
    display: none;
}
/*Diseño responsivo*/

@media( max-width: 700px){
    .portada{
        p{
            margin-top: 5vh;
            margin-bottom: 5vh;
            line-height: 35px;
            width: 85%;
            font-size: 1rem;
        }
    }
    .informacion{
        margin-bottom: 1vh;
        img{
            margin-bottom: 4vh;
        }

        .information-text{
            margin-top: 2vh;
    
            h3{
                font-size: 1.33rem;
                font-weight: 500;
            }
            p{
                font-size: 1rem;
            }
            .informacion-logo{
                img{
                    width: 170px; 
                }   
            }
        } 
    }


    .informacion-card{
        margin-left: auto;
        margin-right: auto;  
    
        .informacion-internal-card{
            height: 200px;
        }
        h5{
    
            font-size: 1.33rem;
            line-height: 38px;
            width: 85%;
        }
        h4{
            font-size: 1rem;            
        }
    }

    .informacion-imagen-principal{
        margin-top: 5vh;
    }

    .informacion-secundaria{
        margin-top: 5vh;
        text-align: left;
    
        h3{
            font-size: 1.33rem;
            font-weight: 400;        
        }
        p{
            font-size: 1rem;
            line-height: 32px;
        }
    }   
   
}

.new_detail{
    span{
        line-height: 1.1rem;
        font-weight: 500;
        &.summary{
            font-weight: 600;
            color: #505050;
            line-height: 1.4;
            font-size: 1.25rem;
        }
    }
    a.item_galery_bg{
        @include block_ctrl();
        height: 375px;
        background-position: 50% 50%;
        background-size: 100%;
        background-size: cover;
    }
}