@import "./vimeo-pop-container";
div.item_work{
	padding: 0px;
	>span{
		@include block_ctrl();
		@include ease(.25s);
		text-align: center;
    	font-size: 2.25rem;
    	font-weight: 700;
    	padding: 15px 0px;
	    cursor: default;
		-moz-text-stroke: 0.7px $grey_dark_04;
    	-webkit-text-stroke: 0.7px $grey_dark_04;
    	-webkit-text-fill-color: transparent;
    	-webkit-text-fill-color: transparent;
    	text-shadow: 0 0 8px rgba(255, 255, 255, .15);
    	&.active{
        	-webkit-text-fill-color: $grey_dark_04;
    		-webkit-text-fill-color: $grey_dark_04;
    	}
	}
	>div.video_container{
		
	}
}

div.video_layout{
    position: relative;
    height: 50vh;
    overflow: hidden;
    >div.play{
    	display: none;
    	pointer-events: none;
    }
	>div.bg{
		display: inline-block;
		position: absolute;
		left: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
		height: 100%;
		width: 100%;
		margin: auto;
		z-index: 1;
		background-blend-mode: multiply;
		cursor: pointer;
		&.bg_yellow{
			background-color: rgba($yellow, .4);
		}
		&.bg_orange{
			background-color: rgba($orange, .4);
		}
		&.bg_red{
			background-color: rgba($red, .4);
		}
		&.bg_blueOne{
			background-color: rgba($blueOne, .4);
		}
		&.bg_blueTwo{
			background-color: rgba($blueTwo, .4);
		}
		&.bg_green{
			background-color: rgba($green, .4);
		}
		span{
			color: #FFFFFF;
			font-size: 4rem;
			font-weight: 700;
			line-height: 1.4;
			-moz-text-stroke: 0px #FFFFFF;
    		-webkit-text-stroke: 0px #FFFFFF;
    		-moz-text-fill-color: #FFFFFF;
    		-webkit-text-fill-color: #FFFFFF;
    		text-shadow: 0 0 8px rgba(255, 255, 255, 0);
			@include ease(.25s);
			@include block_ctrl();
			>small{
				-moz-text-stroke: 1px #FFFFFF;
    			-webkit-text-stroke: 1px #FFFFFF;
    			-moz-text-fill-color: #FFFFFF;
    			-webkit-text-fill-color: #FFFFFF;
    			text-shadow: 0 0 8px rgba(255, 255, 255, 0);
				font-size: 1.75rem;
				font-weight: 400;
				@include ease(.25s);
				@include block_ctrl();
			}
		}
		&:hover{
			span{
				-moz-text-stroke: 2px #FFFFFF;
    			-webkit-text-stroke: 2px #FFFFFF;
    			-moz-text-fill-color: transparent;
    			-webkit-text-fill-color: transparent;
    			text-shadow: 0 0 8px rgba(255, 255, 255, .15);
   			    cursor: pointer;
				>small{
					-moz-text-stroke: 1px #FFFFFF;
    				-webkit-text-stroke: 1px #FFFFFF;
    				-moz-text-fill-color: #FFFFFF;
    				-webkit-text-fill-color: #FFFFFF;
    				text-shadow: none;
				}
			}
		}
	}
	>div.video_container{
    	display: block;
    	position: relative;
    	left: 0px;
    	right: 0px;
    	top: 0px;
    	bottom: 0px;
    	margin: auto;
    	width: 100%;
    	height: 100%;
    	>div{
    		padding: 0px !important;
    		display: inline-block;
    		position: absolute;
    		left: 0px;
    		right: 0px;
    		bottom: 0px;
    		top: 0px;
    		height: 100%;
    		width: 100%;
    		>iframe{
    			position: absolute !important;
    			top: -50% !important;
    			bottom: -50% !important;
    			left: -50% !important;
    			right: -50% !important;
    			width: 100vw !important;
    			height: 177vw !important;
    			margin: auto !important;
    		}
    	}
	}
}



@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
	div.collapse_dev{
		display: block !important;
		div.video_layout{
    		>div.play{
    			display: inline-block;
    			position: absolute;
    			left: 0px;
    			right: 0px;
    			bottom: 0px;
    			top: 0px;
    			text-align: center;
    			width: 100%;
    			height: 100%;
    			z-index: 99;
    			>img{
    				display: inline-block;
    				position: absolute;
    				left: 0px;
    				right: 0px;
    				bottom: 0px;
    				top: 0px;
    				margin: auto;
    				height: 50px;
    				width: 10%;
    			}
    		}
			>div.video_container {
				display: none;
			}
			>div.bg{
				background-position: 50% 50%;
				bakcground-size: cover;
				bakcground-size: 100%;
				span {
				    width: auto;
				    float: left;
				    font-size: 2rem;
				    >small{
    					width: auto;
    					float: none;
    					padding-left: 15px;
    					font-size: 1.75rem;
    					font-weight: 300;
				    	&:after{
    						content: "";
    						display: inline-block;
    						position: absolute;
    						left: 2px;
    						width: 2px;
    						height: 20px;
    						top: 0px;
    						bottom: 0px;
    						margin: auto 0px;
    						background-color: #FFFFFF;
				    	}
				    }
				}
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	div.video_layout > div.bg span {
	    line-height: 1;
	    font-size: 2.9rem;
	    >small{
	    	margin-top: 15px;
	    }
	}
	div.item_work > span {
	    font-size: 1.4rem;
	}
	div.video_layout > div.video_container > div > iframe {
	    width: 100vh !important;
	    height: 177vh !important;
	}

	div.collapse_dev{
		div.video_layout > div.bg span {
		    font-size: 1.5rem;
		    >small{
		    	font-size: 1.25rem;
		    }
		}
	}

}