* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.white_background{
  background: #FFF;
}

.no-scroll-y {
	overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000; /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 4em;
  margin: 0 auto 3.5em auto;
  width: 4em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 2em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}
/* Animacion*/
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animación del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Tamaño de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */	
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}


/*MENU*/
html, body {
    height: 100%;
  }
  
  body {
    perspective: 600px;
<<<<<<< HEAD
    font-family: 'Montserrat', sans-serif;
=======
>>>>>>> efce7545b9e9043506f066856f5f934995852bbf
    overflow-x: hidden;
  }
  @media screen and (max-width: 768px) {
    body {
      perspective: 300px;
    }
  }
  
  .full {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.6s linear;
    background:  transparent;
  }
  
  .menu {
    position: absolute;
    right: 10vw;
    top: 5vh;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  .menu:active {
    background: #FFCA30;
  }
  .menu::before, .menu::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 14px;
    height: 2px;
    width: 20px;
    background: rgb(255, 255, 255);
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .menu.crossed{
    background: #FFCA30;
  }
  .menu::before {
    transform: translateY(-3px);
  }
  .menu::after {
    transform: translateY(3px);
  }
  .menu.crossed::before {
    transform: rotate(45deg);
  }
  .menu.crossed::after {
    transform: rotate(135deg);
  }
  
  .page {
    transform-origin: right center;
    transform: translateX(0) rotateY(0);
    z-index: 1;
    opacity: 1;
  }
  .page.swipe-lft {
    opacity: 0.5;
    z-index: 0;
    transform: translateX(-100%) rotateY(-35deg);
  }
  
  .nav {
    transform-origin: left center;
    transform: translateX(100%) rotateY(35deg);
    z-index: 0;
    opacity: 0;
  }
  .nav.open {
    opacity: 1;
    z-index: 1;
    transform: translateX(0) rotateY(0deg);
  }
  
  .cube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: 600;
    color: #2368a8;
    pointer-events: none;
  }
  @media screen and (max-width: 768px) {
    .cube {
      font-size: 24px;
      white-space: nowrap;
    }
  }

  /*Mi programacion*/

  .logo-home{
      width: 150px;
      margin-top: 7vh;
      margin-left: 10vw;
  }

/*menu imagen lateral*/
  .imagen-menu{

  }

  .imagen-fondo{
    width: 30vw;
    position: relative;
    right: 10vw;
    top: -3vh;    
    z-index: 100;
  }
  .elipse-fondo{
    position: absolute;
    right: 13vw;
    top: 10vh;
    z-index: -50;
  }
  .imagen-menu h3{
    position: relative;
    right: 10vw;
    top: -1vh;
    text-align: left;
    color: #E6E6E6;
    font-size: 4.5rem;
    font-weight: 300;
  }

.open{
  background: #fff;
}
/*menu texto lateral*/
.principal-menu{
  font-size: 2rem;
  margin-left: 16vw !important;
  margin-top: 5vw !important;
}
.hollow-text-black{
  -moz-text-stroke: .7px rgb(0, 0, 0);
  -webkit-text-stroke: .7px rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
}
.principal-menu a {
  position: relative;  
  width: fit-content;  

}
.principal-menu li {
  margin-bottom:1.5vh;
}
.subrayado a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #FFCA30;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.subrayado a:hover:after { 
  width: 100%; 
  left: 0; 
}
.principal-menu hr{
  width: 50%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 0;
}
.principal-menu p{  
  font-size: 1rem;
  font-weight: bold;
}