{% extends "template.html" %}


{% block title %}
Anthony Nikolchev - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Anthony Nikolchev <small>Captivating global audiences through the writing and directing of experiential theater.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="644157926" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Anthony Nikolchev is an experiential director, creator, award-winning actor, writer and theater maker whose work has been seen around the world in Chicago, Los Angeles, New York City, London, Moscow, Warsaw, Italy, India and more. He is the recipient of 8 Best Actor awards from international theater and film festivals. He has directed live branded, experiential events for clients such as Dos Equis, Amazon and Twitch - recently yielding the second most unique views on Twitch's platform for the live escape room promoting Amazon's Jack Ryan Season 2.</p>
                    <p>He has created immersive theatre experiences with groups such Wilderness, choreographer and “Sleep No More” star Sophie Bortolussi, and the San Diego Opera, including performing and devising the LA Weekly’s “immersive gold standard” hit, The Day Shall Declare It, as well as guest speaker activations at Cannes Lions and LE Miami. </p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}