{% extends "template.html" %}


{% block title %}
Bobbi Rich - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Bobbi Rich <small>A fresh voice for Fearless Storytelling.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="640459178" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Bobbi is a creative chameleon, a true product of the Nostalgia Generation, somewhere between analog and dial up. From her days as a story and field producer for TV series such as American Pickers and Going Cambo to her own journey’s she’s not afraid to go the literal extra mile. She’s currently working alongside the team at Gorilla Flicks on a behind the music rock doc to end all rock docs on the life and fast times of the infamous Phil Kaufman, the one and only “Road Mangler”.</p>
                    <p>As a director of music videos, live performances, creative direction, album art, and other promotional content, Bobbi has worked with artists including The Pixies, Grammy award winner Brittany Howard, Margo Price, Yelawolf, Enrique Iglesias, Elton John, Nathaniel Rateliff, Nikki Lane, Dani Miller (Surfbort), Jayme Wyatt, Bully, The War and Treaty, Pearl Charles and San Holo and the Broods. She is also a photographer creating surreal and cinematic worlds through her work.</p>
                    <p>As an Production Designer and Art Director some of her work includes the YouTube + Google Power On series, “Andy’s Song” (directed by Nikki Reed and starred Rosario Dawson and Gina Rodriguez), the new Christian Coppola film “Daddy” (starring Ron Rifkin and Dylan Spouse), and Elton John’s title track music video for the movie Rocketman “I’m Gonna Love Me Again”. Recently, she was the art director for the Joe Berlinger Netflix series “Crime Scene” and the production designer for the Vimeo Staff pick “Assholes”.</p>
                    <p>Additionally, she spent the better part of the past year on the Creative Direction & Interior Design of Nashville’s new experiential 70’s inspired hotspot “The Dive Motel & Swim Club”. It has been featured in Condé Nast’s top experiential hotels of 2020 and Architectural Digest.</p>
                    <p>Bobbi’s creative direction in her commercial, film, photography, design and writing work can best be described as a surrealistic lens of Psychedelia meets Americana, Mysticism meets Escapism, the unapologetic praise to the wild women archetype, and an ode to the gritty and cinematic worlds in which she’s been a full on battle cry to the free-spirited.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}