{% extends "template.html" %}


{% block title %}
Bobbi Rich - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Bobbi Rich <small>A fresh voice for Fearless Storytelling.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="640459178" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Bobbi is a creative chameleon, a true product of the Nostalgia Generation, a never ending idea factory teetering somewhere between analog and dial up. She works as a multifaceted creative lead in many capacities. Director, Photographer, Production Designer, Creative Director. As a director, she has a passion for anything that’s cinematically stylized with nods of surrealism, psychedelia, gritty Americana, laced with some comedic dialogue. She also gravitates towards true characters, and continues to work more and more in the doc space as well.</p>
                    <p>Bobbi has worked extensively in the music industry. As a director of music videos, live performances, photography, stage design, merchandise design, creative direction, album art, and other promotional content. Working closely with artist such as The Pixies, Grammy award winner Brittany Howard, Jenny Lewis, Margo Price, Yelawolf, Enrique Iglesias, Elton John, Nathaniel Rateliff, Nikki Lane, Dani Miller (Surfbort), Jayme Wyatt, Bully, The War and Treaty, Pearl Charles and San Holo and the Broods. She is also a photographer creating surreal and cinematic worlds through her work.</p>
                    <p>As a Production Designer and Art Director, she’s worked with studios and streaming platforms such as Hulu, Netflix, Fox, Sony, Google, NBC, Universal, Youtube, and more. Some of her brand work includes clients such as Spotify, Apple. Monster Energy, Starburst, Sirius XM, Women’s Magazine, Martel, D’usse, Coca Cola and many more.</p>
                    <p>Additionally, she was the Creative Director & Interior Designer for Nashville’s new experiential 70’s inspired hotspot “The Dive Motel & Swim Club”. It has been featured in Condé Nast’s top 10 experiential hotels of 2020 as well as in Architectural Digest.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}