{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Glenn Kitson <small>Speaking with a grainy truth through film.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center">

                <div class="col-12 item_video_ yellow" id="518951638" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Charlie Cooper</p>
                                <h1>Mini Cooper</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ yellow" id="492651788" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Love Affair</p>
                                <h1>110S</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ red" id="483227446" start="61">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Give Me Your Classics</p>
                                <h1>Reebok</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ blue" id="564216783" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Kane: Believe</p>
                                <h1>Nike</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ purple" id="638798101" start="13">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <h1>Shaun Ryder and the Salford Sioux</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Glenn Kitson is a UK-born director and original founder of magazine & creative studio The Rig Out.</p>
                    <p>Recognised as a London based tastemaker working with and directing for some of the biggest and best names in music, lifestyle, fashion and performance sports, Glenn started out as a stylist before working as a creative director at RSA Films (Ridley Scott Associates) which led him to jump behind the lens as a director in his own right.</p>
                    <p>Today, he is hailed for his honest voice, witty scriptwriting and innovative thinking, working with established artists, subcultures and influencers to create films that capture the minds of youth, and generates an audience on a global scale.</p>
                    <p>Kitson’s client list spans Ralph Lauren, Nike, Levi’s, Reebok, Converse, Adidas, Tate Modern and more. Recent work includes Glenn’s spot for AKQA and Nike for their 2018 World Cup starring England soccer captain, Harry Kane, music videos for quirky London upstart, Jimothy Lacoste and campaigns for Polo Ralph Lauren.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}