{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>

        videos_vimeo('644113551','deloitte','deloitte_overlay','deloitte_text');
    </script>

{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Joseph Bennett</h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="644113551" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Production designer Joseph Bennett creates extraordinary environments, spanning sets for fashion shows, photoshoots and feature films, as well as exhibitions, experiential retail spaces and events. Immersive and meticulously detailed, Bennett’s works offer a convincing narrative, or as he describes it, “3D poetry”. Amongst his repertoire of notable projects, Bennett collaborated with fashion designer Alexander McQueen for many years, developing a series of visionary sets over the course of twelve seasons, including the iconic Kate Moss hologram, and the Voss show, featuring a nude Michelle Olley reclining inside a glass box with hundreds of live moths. He is the recipient of 2 Emmy's, a BAFTA, and numerous other awards.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}