{% extends "template.html" %}


{% block title %}
Les Enfants Terribles - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Les Enfants Terribles <small>Immersing people in theatre unlike any other.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="643587263" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Born out of genuine passion and excitement for creating theatre, Les Enfants Terribles was founded by Artistic Director Oliver Lansley, with longtime collaborator James Seager coming on board as an associate producer in 2005. The company has since grown from small 50-seat venues to large-scale events worldwide. Les Enfants Terribles has continued to receive critical acclaim and has been nominated for and won top industry awards, establishing a large and loyal following. The company has toured extensively all over the UK and performed productions to thousands in theatres in Poland, Czech Republic, Dubai, Norway, Singapore and Australia.  Their Les Enfants Experiences, create innovative experiences for brand partners, such as creative installations for Edward Sharpe and The Magnetic Zeros, to events for The Lyric Hammersmith, Latitude Festivals, HP Computers, Disney, Petersham Playhouse, the V&A Museum, The Mint Hotels, Heineken and many others.</p>
                    <p>“A talented company with a very sure sense of its own distinctive storytelling style.” <br>— The Guardian</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}https://vimeo.com/643587263

{% include 'modules/footer.html' %}

{% endblock %}