{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        window.firstLoad=true;
        function videos_vimeo(videoId="", divId="", overlayId="", textId=""){
            var options = {
                id: videoId,
                duration: 5,
            };
            var videoPlayer = new Vimeo.Player(divId, options);            
            videoPlayer.setCurrentTime(2);
            videoPlayer.play();
            $('#'+overlayId).on("mouseover", function(){
                videoPlayer.play();
                window.firstLoad=false;
            });
            $('#'+overlayId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            $('#'+textId).on("mouseover", function(){
                videoPlayer.play();
            });
            $('#'+textId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            if (divId!=='deloitte') {
                videoPlayer.on('timeupdate', function(data) {
                    if (data.seconds > 0 && window.firstLoad) {
                        videoPlayer.pause();
                    }
                });
            }
            $('html')
                .on('click', '#'+textId+' .vimeo-launch', function () {
                    var videoID = videoId,
                        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?autoplay=1&loop=1&autopause=0&controls=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>';
                    $('html').append($video);
                } )
                .on('click', '.vimeo-close', function () {
                    $(this).addClass('closing');
                    $('#vimeo-pop-container').delay(700).animate({
                        height: 0,
                        top: '50%'
                    }, 'fast', function () {
                        $('#vimeo-pop-container').remove();
                    });
                } );

        }
        videos_vimeo('643587263','deloitte','deloitte_overlay','deloitte_text');
    </script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Les Enfants Terribles <small>Immersing people in theatre unlike any other.</small></h3>
                </div>
            </div>
            <div class="row mx-0" id="works">

                <div class="col-12 yellow p-0_cover up">
                    <div class="color"><div id="deloitte" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="true" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_yellow_ts" id="deloitte_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte_text">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Born out of genuine passion and excitement for creating theatre, Les Enfants Terribles was founded by Artistic Director Oliver Lansley, with longtime collaborator James Seager coming on board as an associate producer in 2005. The company has since grown from small 50-seat venues to large-scale events worldwide. Les Enfants Terribles has continued to receive critical acclaim and has been nominated for and won top industry awards, establishing a large and loyal following. The company has toured extensively all over the UK and performed productions to thousands in theatres in Poland, Czech Republic, Dubai, Norway, Singapore and Australia.  Their Les Enfants Experiences, create innovative experiences for brand partners, such as creative installations for Edward Sharpe and The Magnetic Zeros, to events for The Lyric Hammersmith, Latitude Festivals, HP Computers, Disney, Petersham Playhouse, the V&A Museum, The Mint Hotels, Heineken and many others.</p>
                    <p>“A talented company with a very sure sense of its own distinctive storytelling style.” <br>— The Guardian</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}https://vimeo.com/643587263

{% include 'modules/footer.html' %}

{% endblock %}