{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        window.firstLoad=true;
        function videos_vimeo(videoId="", divId="", overlayId="", textId=""){
            var options = {
                id: videoId,
                duration: 5,
            };
            var videoPlayer = new Vimeo.Player(divId, options);            
            videoPlayer.setCurrentTime(2);
            videoPlayer.play();
            $('#'+overlayId).on("mouseover", function(){
                videoPlayer.play();
                window.firstLoad=false;
            });
            $('#'+overlayId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            $('#'+textId).on("mouseover", function(){
                videoPlayer.play();
            });
            $('#'+textId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            if (divId!=='deloitte') {
                videoPlayer.on('timeupdate', function(data) {
                    if (data.seconds > 0 && window.firstLoad) {
                        videoPlayer.pause();
                    }
                });
            }
            $('html')
                .on('click', '#'+textId+' .vimeo-launch', function () {
                    var videoID = videoId,
                        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?autoplay=1&loop=1&autopause=0&controls=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>';
                    $('html').append($video);
                } )
                .on('click', '.vimeo-close', function () {
                    $(this).addClass('closing');
                    $('#vimeo-pop-container').delay(700).animate({
                        height: 0,
                        top: '50%'
                    }, 'fast', function () {
                        $('#vimeo-pop-container').remove();
                    });
                } );

        }
        videos_vimeo('644078248','deloitte','deloitte_overlay','deloitte_text');
    </script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Lola Tango <small>Interpreting stories across media.</small></h3>
                </div>
            </div>
            <div class="row mx-0" id="works">

                <div class="col-12 yellow p-0_cover up">
                    <div class="color"><div id="deloitte" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="true" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_yellow_ts" id="deloitte_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte_text">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Lola Tango’s superpower is knowing the best way to present media on any given platform. Comprising Eve Weston and Jessica Kantor, who both have a great instinct for how to use place and space, Lola Tango was born of a shared storytelling philosophy, the outgrowth of spending a pandemic year meeting weekly to discuss immersive experiences.</p>
                    <p>These two have brought their innovative thinking to brands such as Google, Oculus, Miller Lite, YouTube, AwesomenessTV and ABC/Disney. Both are award-winning XR directors (e.g., Webby and CES awards) recognized for their pioneering work.</p>
                    <p>Lola Tango literally wrote the book on immersive storytelling, with three chapters in the groundbreaking Handbook of Research on the Global Impacts and Roles of Immersive Media. They have spoken and/or taught at nearly all the top US-film schools and presented and premiered at top industry conferences, including AWE, Tribeca Film Festival, Edinburgh DigiFest. Arles Arts, AWE, and SIGGRAPH.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}