{% extends "template.html" %}


{% block title %}
Lola Tango - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Lola Tango <small>Interpreting stories across media.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="644078248" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Lola Tango’s superpower is knowing the best way to present media on any given platform. Comprising Eve Weston and Jessica Kantor, who both have a great instinct for how to use place and space, Lola Tango was born of a shared storytelling philosophy, the outgrowth of spending a pandemic year meeting weekly to discuss immersive experiences.</p>
                    <p>These two have brought their innovative thinking to brands such as Google, Oculus, Miller Lite, YouTube, AwesomenessTV and ABC/Disney. Both are award-winning XR directors (e.g., Webby and CES awards) recognized for their pioneering work.</p>
                    <p>Lola Tango literally wrote the book on immersive storytelling, with three chapters in the groundbreaking Handbook of Research on the Global Impacts and Roles of Immersive Media. They have spoken and/or taught at nearly all the top US-film schools and presented and premiered at top industry conferences, including AWE, Tribeca Film Festival, Edinburgh DigiFest. Arles Arts, AWE, and SIGGRAPH.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}