{% extends "template.html" %}


{% block title %}
Marissa Shrum - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Marissa Shrum <small>Telling the stories of cultural shifts through personal experiences.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="642098307" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <h1>MARISSA SHRUM</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Marissa Shrum is an interdisciplinary culture worker and creative leader who’s spent the past decade working at the intersection of storytelling, community building and social change. Marissa is the founder of Remember, I Love You, a creative consultancy fusing methods in research, strategy and social experiential marketing to help brands innovate in their youth and culture marketing practices.</p>
                    <p>Grounded by early work as a racial justice educator and youth voting rights organizer, Marissa spent over a decade working as a strategy director in advertising, leading brand growth and transformation consulting for the likes of Verizon, Microsoft, Google, and Target. As a Black-femme strategist and creative, Marissa was an early pioneer in inclusive marketing strategies and campaign design.</p>
                    <p>Marissa’s practice as a storyteller has focused on both photographic and video content that prioritizes historically underrepresented and/or marginalized voices and visions. With a strong foundation in research methodologies, Marissa’s ethnographic approach celebrates the everyday excellence found in our families and communities. Marissa’s background in youth marketing and fashion has created a strong aesthetic understanding of trends in style, beauty and movement cultures. Her pioneering allyship with the Black, brown and queer creative community has established a deep network of creators, choreographers, and change-makers who frequently participate in Marissa’s culture work practice.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}