{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">MICHAEL YOUNG <small>Telling emotional stories through technology and gaming.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="642109106" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Michael Young, is a 20-year industry leader in gaming. He led the Madden NFL video game franchise as Creative Director for eight remarkable years. In 2017, through his vision and direction, Madden released it’s most ambitious project yet - their first-ever full-length interactive feature film. Michael assembled a team and spearheaded the project as creator, director, and co-writer, which culminated in the creation of Madden NFL 18: Longshot, featuring Academy Award-winning actor Mahershala Ali. Michael was honored to receive a Writer’s Guild Award Nomination for his critically acclaimed, groundbreaking script. Off the success of Longshot, Michael co-wrote and directed the sequel Longshot: Homecoming in 2018 and a series spin-off, Face of the Franchise, in 2019.  Recently he was one of the director’s for Fox’s ground breaking series Alter Ego.</p>
                    <p>With over 20 years’ experience and 21 shipped games, Michael has a successful track record leading collaborative and diverse groups, setting a clear creative vision and driving teams to deliver high-quality results.</p>
                    <p>In addition, Michael has written and directed scripts for some of the biggest names in sports and Hollywood including Oscar Winner Mahershala Ali, 2-time Emmy award-winning Ron Cephas Jones, Tom Brady, Ray Lewis, Dan Marino, Drew Brees, John Madden, Roy McElroy, Carmelo Anthony, Patrick Mahomes, Emmy nominated Joey King and many more.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}