{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        window.firstLoad=true;
        function videos_vimeo(videoId="", divId="", overlayId="", textId=""){
            var options = {
                id: videoId,
                duration: 5,
            };
            var videoPlayer = new Vimeo.Player(divId, options);            
            videoPlayer.setCurrentTime(2);
            videoPlayer.play();
            $('#'+overlayId).on("mouseover", function(){
                videoPlayer.play();
                window.firstLoad=false;
            });
            $('#'+overlayId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            $('#'+textId).on("mouseover", function(){
                videoPlayer.play();
            });
            $('#'+textId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            if (divId!=='deloitte') {
                videoPlayer.on('timeupdate', function(data) {
                    if (data.seconds > 0 && window.firstLoad) {
                        videoPlayer.pause();
                    }
                });
            }
            $('html')
                .on('click', '#'+textId+' .vimeo-launch', function () {
                    var videoID = videoId,
                        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?autoplay=1&loop=1&autopause=0&controls=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>';
                    $('html').append($video);
                } )
                .on('click', '.vimeo-close', function () {
                    $(this).addClass('closing');
                    $('#vimeo-pop-container').delay(700).animate({
                        height: 0,
                        top: '50%'
                    }, 'fast', function () {
                        $('#vimeo-pop-container').remove();
                    });
                } );

        }
        videos_vimeo('394270170','deloitte','deloitte_overlay','deloitte_text');
        videos_vimeo('584921986','deloitte2','deloitte2_overlay','deloitte2_text');
        videos_vimeo('394412046','deloitte3','deloitte3_overlay','deloitte3_text');
        videos_vimeo('282360999','deloitte4','deloitte4_overlay','deloitte4_text');
        videos_vimeo('393637635','deloitte5','deloitte5_overlay','deloitte5_text');
    </script>

{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Mike Marshall <small>Bringing the eyes of a photographer to film.</small></h3>
                </div>
            </div>
            <div class="row mx-0" id="works">

                <div class="col-12 yellow p-0_cover up">
                    <div class="color"><div id="deloitte" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="true" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_yellow_ts" id="deloitte_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte_text">
                        <p>Puma Hoops</p>
                        <h1>All Star Weekend</h1>
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 orange p-0_cover up">
                    <div class="color"><div id="deloitte2" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_orange_ts" id="deloitte2_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte2_text">
                        <p>Chameleon Organic Coffee</p>
                        <h1>DJ Neff</h1>
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>
                
                <div class="col-12 col-md-6 red p-0_cover up">
                    <div class="color"><div id="deloitte3" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_red_ts" id="deloitte3_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte3_text">
                        <p>Chick-fil-A</p>
                        <h1>Rivalry Restaurant</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 purple p-0_cover up">
                    <div class="color"><div id="deloitte4" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_blueOne_ts" id="deloitte4_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte4_text">
                        <p>DiGiorno</p>
                        <h1>The Power of Pizza</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 green p-0_cover up">
                    <div class="color"><div id="deloitte5" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_green_ts" id="deloitte5_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte5_text">
                        <p>Burger King</p>
                        <h1>The King In Cannes</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Shifting paths from a photography degree to film at the University of Central Florida has led Mike on an eclectic path in storytelling.  His work has been featured in an assortment of venues, from airline seat screens and in-app ads to feature films on cable networks, prime time playoff game commercials, screen projections for large scale events and narrative video games.  His recent client list reflects the diversity in his work from household names like Burger King, Puma, United Airlines, BP and Chick-fil-A to beauty brands Fresh and Deva Curl to punk rock legends Epitaph Records, there is a good chance you have seen his work in the wild.  He remains passionate about still photography and the ways in which technology and storytelling are melding.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}