{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Mike Marshall <small>Bringing the eyes of a photographer to film.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="394270170" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Puma Hoops</p>
                                <h1>All Star Weekend</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ orange" id="584921986" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Chameleon Organic Coffee</p>
                                <h1>DJ Neff</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>

                </div>

                <div class="col-12 col-md-6 item_video_ red" id="394412046" start="3">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Chick-fil-A</p>
                                <h1>Rivalry Restaurant</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ blue" id="282360999" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>DiGiorno</p>
                                <h1>The Power of Pizza</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>

                </div>

                <div class="col-12 col-md-6 item_video_ purple" id="393637635" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Burger King</p>
                                <h1>The King In Cannes</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Shifting paths from a photography degree to film at the University of Central Florida has led Mike on an eclectic path in storytelling.  His work has been featured in an assortment of venues, from airline seat screens and in-app ads to feature films on cable networks, prime time playoff game commercials, screen projections for large scale events and narrative video games.  His recent client list reflects the diversity in his work from household names like Burger King, Puma, United Airlines, BP and Chick-fil-A to beauty brands Fresh and Deva Curl to punk rock legends Epitaph Records, there is a good chance you have seen his work in the wild.  He remains passionate about still photography and the ways in which technology and storytelling are melding.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}