{% extends "template.html" %}


{% block title %}
Nepyru - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">NEPYRU <small>Technology Engineered for Wonder</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="644079131" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>NEPYRU is a technology studio specialising in pinnacle brand experiences. An engineering led, multi-awarded, creative technology company, every day, every venture, every project represents an opportunity to create wonder.</p>
                    <p>We move brands and businesses, customers and consumers, through our obsession with original and lasting innovation. We deliver sublime creative, driven by the most powerfully engineered technology of today.</p>
                    <p>Emerging Technology and the promise of a hybrid, immersive and augmented future is reshaping the way we interact with the world around us. NEPYRU understands this world.   We provide services, product ideas and creative executions to help brands and their audiences navigate it, and thrive within it.</p>
                    <p>With 20 years of experience shaping campaigns and executions for brands, creative studios and agencies across all global territories, our team has delivered award-winning work for global brands including; Adidas, Michael Kors, Nike Jordan, IBM, Cheetos, Coke, Ford, GE, Louis Vuitton, Motorola, Range Rover, Saab, Toyota, Paramount, Volvo, Bentley, Nokia, Kia, Porsche, Mercedes-Benz USA, Cadbury, Infinity.</p>
                    <p>Our interdisciplinary approach to creativity connects the physical with digital through technology, visual design and traditional storytelling and has led us to 16 Cannes Lions, 23 FWAs and 19 Webby Awards, alongside numerous other industry accolades.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}