{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">ROZ <small>Merging Mediums and Transcending Boundaries.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="641997621" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Roz is an international multimedia artist and programmer who is best known for her immersive installations that blend oil painting, installation, sculpture, video and virtual reality. Her work addresses psychological mechanisms, autonomy (personal sovereignty), perception, and the exchange between the physical and digital.</p>
                    <p>In 2015, she was the first recipient of a fellowship for her research in virtual reality at The New Museum’s incubator, New Inc where she developed the VR work, “I Came and Went as Ghost Hand,” In the work, photogrammetry models of the artist’s studio, and personal domestic spaces are programmed to be carved out by the viewer’s gaze over time.  Roz was the subject of a National Geographic mini-documentary in 2018 and is a 2017 Forbes 30-under-30 honoree.</p>
                    <p>She has given lectures at institutions such as MIT, MOMA, Städelschule, Chicago Institute of Art, Carnegie Mellon University and Pioneer Works, and has exhibited her work globally in museums such as Kiasma, Helsinki (ARS17), The Akron Art Museum, Sundance New Frontiers, The Louvre, Art in General, The New Museum and K11 in Shanghai.  Her work has been reviewed in The New York Times, ArtForum, Frieze Magazine, Wired, among many others.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}