{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}
    <style>
        @media (max-width: 576px) {
            #works > div {
                padding: 0px !important;
            }
            #works .up .text, #works .up .text_overlay {
                left: 0px !important;
                right: 0px !important;
            }
        }
    </style>
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script>
        function resize_withAspectRadio(){
            $( "#works>div" ).each(function( index ) {
                var width = $( this ).width();
                var height = width/2;
                $( this ).css("height", height);
            });
        }
        resize_withAspectRadio();
        $(window).on('resize', function(){
            resize_withAspectRadio();
        });
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script>
        window.firstLoad=true;
        function videos_vimeo(videoId="", divId="", overlayId="", textId=""){
            var options = {
                id: videoId,
                duration: 5,
            };
            var videoPlayer = new Vimeo.Player(divId, options);            
            videoPlayer.setCurrentTime(2);
            videoPlayer.play();
            $('#'+overlayId).on("mouseover", function(){
                videoPlayer.play();
                window.firstLoad=false;
            });
            $('#'+overlayId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            $('#'+textId).on("mouseover", function(){
                videoPlayer.play();
            });
            $('#'+textId).on("mouseleave", function(){
                videoPlayer.pause().then(function(){
                    videoPlayer.setCurrentTime(2);
                });
            });
            if (divId!=='deloitte') {
                videoPlayer.on('timeupdate', function(data) {
                    if (data.seconds > 0 && window.firstLoad) {
                        videoPlayer.pause();
                    }
                });
            }
            $('html')
                .on('click', '#'+textId+' .vimeo-launch', function () {
                    var videoID = videoId,
                        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?autoplay=1&loop=1&autopause=0&controls=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>';
                    $('html').append($video);
                } )
                .on('click', '.vimeo-close', function () {
                    $(this).addClass('closing');
                    $('#vimeo-pop-container').delay(700).animate({
                        height: 0,
                        top: '50%'
                    }, 'fast', function () {
                        $('#vimeo-pop-container').remove();
                    });
                } );

        }
        videos_vimeo('405981499','deloitte','deloitte_overlay','deloitte_text');
        videos_vimeo('638709454','deloitte2','deloitte2_overlay','deloitte2_text');
        videos_vimeo('638723756','deloitte3','deloitte3_overlay','deloitte3_text');
        videos_vimeo('638724445','deloitte4','deloitte4_overlay','deloitte4_text');
        videos_vimeo('638780985','deloitte5','deloitte5_overlay','deloitte5_text');
    </script>

{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">Sara Nesson <small>Empathetic stories with an artistic sensibility.</small></h3>
                </div>
            </div>
            <div class="row mx-0" id="works">

                <div class="col-12 yellow p-0_cover up">
                    <div class="color"><div id="deloitte" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="true" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_yellow_ts" id="deloitte_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte_text">
                        <p>Academy Award winning documentary</p>
                        <h1>Poster Girl</h1>
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 orange p-0_cover up">
                    <div class="color"><div id="deloitte2" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_orange_ts" id="deloitte2_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte2_text">
                        <p>Silence Moving Portraits</p>
                        <h1>Descanso Gardens</h1>
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>
                
                <div class="col-12 col-md-6 red p-0_cover up">
                    <div class="color"><div id="deloitte3" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_red_ts" id="deloitte3_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte3_text">
                        <p>Lulu's Fight to End Canine Cancer</p>
                        <h1>Fidocure</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 purple p-0_cover up">
                    <div class="color"><div id="deloitte4" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_blueOne_ts" id="deloitte4_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte4_text">
                        <h1>Abbot Kinney Festival</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 col-md-6 green p-0_cover up">
                    <div class="color"><div id="deloitte5" data-vimeo-playsinline="true" data-vimeo-responsive="true" data-vimeo-maxheight="100vh" data-vimeo-autoplay="false" data-vimeo-loop="true" data-vimeo-muted="true" data-vimeo-background="true" data-vimeo-controls="false" data-vimeo-keyboard="false" data-vimeo-pip="true"></div></div>
                    <div class="col px-5 py-5 text_overlay bg_green_ts" id="deloitte5_overlay"></div>
                    <div class="row px-5 py-5 text" id="deloitte5_text">
                        <p>Essentials - Smithfield</p>
                        <h1>Quint</h1>
                        <input type="checkbox">
                        <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>Sara is an OSCAR and EMMY nominated and International Documentary Association (IDA) winning documentary film director, best known for her films “Poster Girl” and “Women Who Score.” She is also a vérité style cinematographer, shooting much of her own work which allows for deeper intimacy with her subjects. With her visceral and artistic sensibility, Sara thrives on telling stories that spark emotional connections and fuels our joy of discovery.</p>
                    <p>She has helmed a range of commercial projects and created content for iconic names such as Cirque de Soleil, Bonaroo Music Festival, and ICM Partners.</p>
                    <p>Mentored by her adventure-seeking, documentary filmmaker dad, a filming expedition left them stranded on a Siberian peninsula after a boat went awry. That life altering experience along with working as a sea kayaking guide in Alaska taught her a thing or two about powering through any challenge. She can still pull off an Eskimo Roll.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}