{% extends "template.html" %}


{% block title %}
William Maher - HELO
{% endblock %}

{% block preloads %}
{% endblock %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/creator_detail.js" ></script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <div class="py-6" id="creators" style="z-index: 10;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <h3 class="title_leftline primary">William Maher <small>Hand-made visuals.</small></h3>
                </div>
            </div>
            <div class="row mx-0 justify-content-center align-items-center"">

                <div class="col-12 item_video_ yellow" id="532407045" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Launched By</p>
                                <h1>Mini Cooper</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ orange" id="394412779" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>The Grinch Activation</p>
                                <h1>Universal Pictures</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>

                </div>

                <div class="col-12 col-md-6 item_video_ red" id="375716240" start="3">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Mile Long Runway</p>
                                <h1>Sorel</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

                <div class="col-12 col-md-6 item_video_ blue" id="337382424" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>The Joint Venture</p>
                                <h1>Virgin Atlantic/ Delta</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>

                </div>

                <div class="col-12 col-md-6 item_video_ purple" id="416396714" start="1">
                    <div class="info_content">
                        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
                            <div class="col-auto">
                                <p>Jurassic Hijinks</p>
                                <h1>Universal Studios</h1>
                                <img class="vimeo-launch" src="{{ const.BASE_URL }}assets/img/play.svg" alt="play">
                            </div>
                        </div>
                    </div>
                    <div class="video_content"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6 pt-3">
                    <h3 class="fw_700">Biography</h3>
                    <p>William (Bill) Maher hails from Dublin, Ireland. He moved to the United States in 1993 to pursue a career in film.</p>
                    <p>After moving up the ranks on various studio productions such as Warner Bros.’ 'Disclosure' and several commercials and music videos, he tapped his background in architectural model-making to segue into the Art Department on Warner Bros.' 'Assassins' and 'Speed Racer'. He then joined Visual Effects Supervisor, Michael Fink, as he took the helm of Warner Bros. Digital VFX Company.</p>
                    <p>Maher spent several years ensconced in visual effects, working on productions such as 'Eraser, 'Mars Attacks!', 'Batman & Robin', 'Conspiracy Theory', 'Lethal Weapon 4'. ‘X-Men’ and ‘X-Men 2’. His expertise in VFX grew to orchestrating, coordinating and supervising the shooting of visual effects sequences, eventually extending into directing 2nd and aerial units. He then made the switch from working on studio films to developing and directing his own work.</p>
                    <p>Maher then directed his first original feature, “Sleepwalking”, starring Charlize Theron, Nick Stahl, Woody Harrelson, Anna Sophia Robb and Dennis Hopper. The film was purchased and released by Overture Films as their first acquisition, at the 2008 Sundance Film Festival.</p>
                    <p>Maher has directed several commercials for major brands including Dick’s Sporting Goods, Adidas, and New Balance, among others. He wrote the motion graphic novel series ‘Ascent From Akeron,’ produced by Submarine Channel in The Netherlands.</p>
                    <p>Most recently he directed MINI Launched By_, an eight-part content series, featuring a range of artists contributing to the campaign from US professional skateboarder, Briana King, to Charlie Cooper, the grandson of legendary sports car designer John Cooper, Marvel Comic illustrator Jonathan Jay Lee, Turkish cake artist Tuba Geçkil and British contemporary artist Lakwena.</p>
                    <p>He has also moved into experiential directing, helming activations for The Grinch at Rockefeller Plaza in New York, Sorel Mile-Long Runway in New York, and the Jurassic World theme park in Los Angeles for HELO.</p>
                    <p>He will next direct the sci-fi/fantasy/thriller ‘The Preserving Machine’ - a feature adaptation of Philip K. Dick’s short story of the same name, for which Maher has also written the screenplay.</p>
                    <p>He splits his time between Los Angeles and Berlin.</p>
                    <div class="row m-0 w-100">
                        <div class="col-12 px-0 pt-2">
                            <a href="{{ const.BASE_URL }}creators" class="back_">
                                <img src="{{ const.BASE_URL }}assets/img/back.svg" alt="">
                                BACK TO CREATORS
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modules/line_colors.html' %}

{% include 'modules/footer.html' %}

{% endblock %}