{% extends "template.html" %}


{% block title %}
Lola Tango’s with HELO - HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" href="{{ const.BASE_URL }}node_modules/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block extraJS %}
    <script src="{{ const.BASE_URL }}assets/js/preloader_faster.js"></script>
    <script src="{{ const.BASE_URL }}assets/js/share.js"></script>
    <script src="{{ const.BASE_URL }}node_modules/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        $(document).ready(function(){
            $("#botonocultamuestra").click(function(){
               $("#divocultamuestra").each(function() {
                 displaying = $(this).css("display");
                 if(displaying == "block") {
                   $(this).fadeOut('slow',function() {
                    $(this).css("display","none");
                   });
                 } else {
                   $(this).fadeIn('slow',function() {
                     $(this).css("display","block");
                   });
                 }
               });
             });
           });
    </script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <main class="new_detail">
        <div class="py-5 container" id="title">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-9 col-md-6 pb-2">
                        <p class="block_ctrl title_p">News</p>
                        <h3 class="title_section green pb-0">Lola Tango’s with HELO</h3>
                        <p class="block_ctrl title_p pt-2 date">June 26, 2021</p>
                    </div>
                    <!--div class="col" id="search-box">
                        <div class="p_auto">
                            SEARCH <input><div class="div1"></div></input>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row w-100 m-0">
                <div class="col-12 p-0">
                    <img src="{{ const.BASE_URL }}assets/img/news/lola_tangos/portada.jpg" alt="" class="block_ctrl">
                </div>
            </div>
        </div>

        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-12 text-left">
                    <span class="summary">Lola Tango literally wrote the book on immersive storytelling. Both Eve Weston and Jessica Kantor are award-winning XR directors recognized for their pioneering work. These two have brought their innovative thinking to brands such as Google, Oculus, Miller Lite, YouTube, AwesomenessTV and ABC/Disney. And now they are joining the talented team of creative technologists at HELO.</span>
                </div>
            </div>
        </div>

        <div class="container pb-6">
            <div class="row">
                <div class="col-12 text-left">
                    <span>Lola Tango’s superpower is knowing the best way to present media on any given platform. They have a great instinct for how to use place and space.  Storytelling has changed dramatically. Characters today extend beyond a single medium, stepping off the screen or stage, and into social media, video games, virtual beings and interactive landscapes like VR & AR.</span>
                </div>
            </div>
        </div>

        <div class="container pb-6">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 pb-4 pb-md-0">
                    <span>Lola Tango have spoken and/or taught at nearly all the top US-film schools and presented and premiered at top industry conferences, including AWE, Tribeca Film Festival, Edinburgh DigiFest. Arles Arts, and SIGGRAPH</span>
                </div>
                <div class="col-12 col-md-6">
                    <a 
                        class="item_galery_bg" 
                        style="background-image: url('{{ const.BASE_URL }}assets/img/news/lola_tangos/image01.jpg');"
                        data-fancybox="gallery"
                        data-src="{{ const.BASE_URL }}assets/img/news/lola_tangos/image01_lg.jpg"
                    ></a>
                </div>
            </div>
        </div>

        <div class="container pb-6">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <a 
                        class="item_galery_bg" 
                        style="background-image: url('{{ const.BASE_URL }}assets/img/news/lola_tangos/image02.jpg');"
                        data-fancybox="gallery"
                        data-src="{{ const.BASE_URL }}assets/img/news/lola_tangos/image02_lg.jpg"
                    ></a>
                </div>
                <div class="col-12 col-md-6 pb-4 pb-md-0">
                    <span>In a world where tech is often made for tech’s sake, Eve and Jessica stand out as creative, visual thinkers first with the tech chops to deliver stunning experiences. They’ve dreamt up a range of experimental arts-based immersive thru VR and AR projects for some of the world’s biggest brands.  HELO is thrilled to represent their work and can’t wait to experience what they come up with next.</span>
                </div>
            </div>
        </div>

        <section class="share container">
            <a id="botonocultamuestra" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">SHARE<img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/icon-share.svg" alt=""></a>
            <div id="divocultamuestra">
              <div class="shared-panel">                
                  <a target="_blank" class="shared fb" title="Facebook"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/facebook.svg" alt=""></a>
                  <a target="_blank" class="shared tt" title="Twitter"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/twitter.svg" alt=""></a>
                  <a target="_blank" class="shared ce" id="sml" title="Email"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/email.svg" alt=""></a>
              </div>     
            </div>        
        </section>
        <section class="row cambiar-noticia container">
            <div class="col-6 past-arrow">
                <a href="{{ const.BASE_URL }}anthem"><img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/past-arrow.svg" alt=""> NEXT</a>                
            </div>
            <div class="col-6 next-arrow">
                <a href="{{ const.BASE_URL }}mama-hotdog-rocks">PAST <img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/next-arrow.svg" alt=""></a>
            </div>
        </section>

    </main>
    <div class="container-fluid">
        <div class="row multicolor">
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>

    {% include 'modules/footer.html' %}

{% endblock %}