{% extends "template.html" %}


{% block title %}
HELO
{% endblock %}

{% block preloads %}  	
{% endblock %}

{% block extraCSS %}
    <link rel="stylesheet" href="{{ const.BASE_URL }}node_modules/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block extraJS %}
    <script src="{{ const.BASE_URL }}assets/js/share.js"></script>
    <script src="{{ const.BASE_URL }}node_modules/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script>
        $(document).ready(function(){
            $("#botonocultamuestra").click(function(){
               $("#divocultamuestra").each(function() {
                 displaying = $(this).css("display");
                 if(displaying == "block") {
                   $(this).fadeOut('slow',function() {
                    $(this).css("display","none");
                   });
                 } else {
                   $(this).fadeIn('slow',function() {
                     $(this).css("display","block");
                   });
                 }
               });
             });
           });
    </script>
{% endblock %}

{% block content %}

    {% set positioned = true %}
    {% include 'modules/menu_home.html' %}

    <main class="new_detail">
        <div class="py-5 container" id="title">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-9 col-md-6 pb-2">
                        <p class="block_ctrl title_p">News</p>
                        <h3 class="title_section green pb-0">HELO signs creative technology company Nepyru</h3>
                        <p class="block_ctrl title_p pt-2 date">July 03, 2021</p>
                    </div>
                    <!--div class="col" id="search-box">
                        <div class="p_auto">
                            SEARCH <input><div class="div1"></div></input>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row w-100 m-0">
                <div class="col-12 p-0">
                    <img src="{{ const.BASE_URL }}assets/img/news/nepyru/portada.jpeg" alt="" class="block_ctrl">
                </div>
            </div>
        </div>

        <div class="container py-6">
            <div class="row justify-content-center">
                <div class="col-12 text-left">
                    <span class="summary">Nepyru is an engineering led, multi-award winning, creative technology company specializing in wonder. Driven by the most powerfully engineered technology of today, Nepyru keeps a close track of the promise of a hybrid, immersive and augmented future.</span>
                </div>
            </div>
        </div>

        <div class="container pb-6">
            <div class="row">
                <div class="col-12 text-left">
                    <span>With 20 years of experience shaping campaigns and executions for brands, creative studios and agencies across all global territories, their interdisciplinary approach to creativity connects the physical with digital through technology, visual design and traditional storytelling and has led to 16 Cannes Lions, 23 FWAs and 19 Webby Awards, alongside numerous other industry accolades.</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 pe-0 pe-md-5">
                    <span>HELO is thrilled to announce the partnership with Nepyru adding a range of tech capabilities from the most complex HTML 5 web design to mobile to gaming to interactive immersive tech.</span>
                </div>
                <div class="col-12 col-md-6">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/644079131?h=077576efc4&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
            </div>
        </div>

        <section class="share container">
            <a id="botonocultamuestra" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">SHARE<img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/icon-share.svg" alt=""></a>
            <div id="divocultamuestra">
              <div class="shared-panel">                
                  <a target="_blank" class="shared fb" title="Facebook"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/facebook.svg" alt=""></a>
                  <a target="_blank" class="shared tt" title="Twitter"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/twitter.svg" alt=""></a>
                  <a target="_blank" class="shared ce" id="sml" title="Email"><img class="logo-share" src="{{ const.BASE_URL }}assets/img/news/email.svg" alt=""></a>
              </div>     
            </div>        
        </section>
        <section class="row cambiar-noticia container">
            <div class="col-6 past-arrow">
                <a href="{{ const.BASE_URL }}adidas"><img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/past-arrow.svg" alt=""> PAST ARTICLE</a>                
            </div>
            <div class="col-6 next-arrow">
                <a href="{{ const.BASE_URL }}santander">NEXT ARTICLE <img src="{{ const.BASE_URL }}assets/img/news/mitsubishi/next-arrow.svg" alt=""></a>
            </div>
        </section>

    </main>
    <div class="container-fluid">
        <div class="row multicolor">
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>

    {% include 'modules/footer.html' %}

{% endblock %}